<template>
  <div class="bg-white border-2 border-neutral-light box-shadow-neutral-2">
    <div class="p-6">
      <!-- Domaines d’activité -->
      <div v-if="type.value === '1' || type.value === '2'">
        <div class="text-l font-bold text-primary-dark">Domaines d’activité</div>
        <div class="mt-4 ml-12 radio flex flex-wrap">
          <div v-for="item in values.id_ref_domaine_activite" class="w-1/3 mt-3">
            <input type="radio" :id="item.text + item.value" :value="item" v-model="criteria.id_ref_domaine_activite"
              class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0	w-5 h-5 mr-1 rounded-full border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      <!-- Types d'acheteur -->
      <div class="mt-16" v-if="type.value === '1' || type.value === '2'">
        <div class="text-l font-bold text-primary-dark">Types d'acheteur</div>
        <div class="mt-6 ml-4 checkbox">
          <input id="ref_sur_categorie" type="checkbox" name="ref_sur_categorie" v-model="all_id_ref_sur_categorie"
            class="hidden" />
          <label for="ref_sur_categorie" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
            Tout sélectionner
          </label>
        </div>
        <div class="mt-4 ml-12 checkbox flex flex-wrap">
          <div v-for="item in values.id_ref_sur_categorie" class="w-1/3 mt-2">
            <input type="checkbox" :id="item.text + item.value" :value="item" v-model="criteria.id_ref_sur_categorie"
              class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      <!-- Types de procédure -->
      <div class="mt-16" v-if="type.value === '1' || type.value === '2'">
        <div class="text-l font-bold text-primary-dark">Types de procédure</div>
        <div class="mt-6 ml-4 checkbox">
          <input id="ref_procedure_passation_famille" type="checkbox" name="ref_procedure_passation_famille"
            v-model="all_id_ref_procedure_passation_famille" class="hidden" />
          <label for="ref_procedure_passation_famille" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
            Tout sélectionner
          </label>
        </div>
        <div class="mt-4 ml-12 checkbox flex flex-wrap">
          <div v-for="item in values.id_ref_procedure_passation_famille" class="w-1/3 mt-2">
            <input type="checkbox" :id="item.text + item.value" :value="item"
              v-model="criteria.id_ref_procedure_passation_famille" class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      <!-- Nature de prestation -->
      <div v-if="type.value === '4,5'">
        <div class="text-l font-bold text-primary-dark">Nature de prestation</div>
        <div class="mt-4 ml-12 radio flex flex-wrap">
          <div v-for="item in values.id_ref_nature_consultation" class="w-1/3 mt-3">
            <input type="radio" :id="item.text + item.value" :value="item" v-model="criteria.id_ref_nature_consultation"
              class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0	w-5 h-5 mr-1 rounded-full border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
       <!-- Nature des travaux -->
       <div v-if="type.value === '3'">
        <div class="text-l font-bold text-primary-dark">Nature des travaux</div>
        <div class="mt-6 ml-4 checkbox">
          <input id="id_vp_ref_nature_travaux" type="checkbox" name="id_vp_ref_nature_travaux" class="hidden"
            v-model="all_vp_ref_nature_travaux" />
          <label for="id_vp_ref_nature_travaux" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
            Tout sélectionner
          </label>
        </div>
        <div class="mt-4 ml-12 checkbox flex flex-wrap">
          <div v-for="item in values.id_vp_ref_nature_travaux" class="w-1/3 mt-2">
            <input type="checkbox" :id="item.text + item.value" :value="item"
              v-model="criteria.id_vp_ref_nature_travaux" class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      <!-- Type de bâtiment -->
      <div class="mt-16" v-if="type.value === '3'">
        <div class="text-l font-bold text-primary-dark">Type de bâtiment</div>
        <div class="mt-6 ml-4 checkbox">
          <input id="id_vp_ref_type_batiment" type="checkbox" name="id_vp_ref_type_batiment" class="hidden"
            v-model="all_vp_ref_type_batiment" />
          <label for="id_vp_ref_type_batiment" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
            Tout sélectionner
          </label>
        </div>
        <div class="mt-4 ml-12 checkbox flex flex-wrap">
          <div v-for="item in values.id_vp_ref_type_batiment" class="w-1/3 mt-2">
            <input type="checkbox" :id="item.text + item.value" :value="item" v-model="criteria.id_vp_ref_type_batiment"
              class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      <!-- Statuts des avis -->
      <div class="mt-16">
        <div class="text-l font-bold text-primary-dark">Statuts des avis</div>
        <div class="mt-6 ml-4 checkbox">
          <input id="statut_avis" type="checkbox" name="statut_avis" class="hidden" v-model="all_statut_avis" />
          <label for="statut_avis" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
            Tout sélectionner
          </label>
        </div>
        <div class="mt-4 ml-12 checkbox flex flex-wrap">
          <div v-for="item in values.statut_avis" class="w-1/3 mt-2">
            <input type="checkbox" :id="item.text + item.value" :value="item" v-model="criteria.statut_avis"
              class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      <!-- DCE / Pièces jointes -->
      <div class="mt-16">
        <div class="text-l font-bold text-primary-dark">DCE / Pièces jointes</div>
        <div class="mt-6 ml-4 checkbox">
          <input id="dce_pj" type="checkbox" name="dce_pj" class="hidden" v-model="all_dce_pj" />
          <label for="dce_pj" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
            Tout sélectionner
          </label>
        </div>
        <div class="mt-4 ml-12 checkbox flex flex-wrap">
          <div v-for="item in values.dce_pj" class="w-1/3 mt-2">
            <input type="checkbox" :id="item.text + item.value" :value="item" v-model="criteria.dce_pj" class="hidden">
            <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
              <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              {{ item.text }}
            </label>
          </div>
        </div>
      </div>
      
    </div>
    <div class="px-6 py-4 flex justify-between items-center border-t-2 border-neutral-light">
      <div class="flex items-center">
        <span class="link-button text-m mr-8" @click="close">Annuler</span>
        <span class="flex link items-center">
          <div>
            <IconsRepeat></IconsRepeat>
          </div>
          <div class="ml-1 text-s font-medium" @click="initData">Réinitialiser</div>
        </span>
      </div>
      <div>
        <button class="text-xm font-bold primary-btn" @click="valid">Appliquer</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import IconsRepeat from '../../icons/repeat.vue'
import { reactive, onMounted, computed } from 'vue'
const props = defineProps({
  list: {
    type: Object
  },
  type: {
    type: Object
  }
})
const criteria = reactive({
  id_ref_domaine_activite: null,
  id_ref_sur_categorie: [],
  id_ref_procedure_passation_famille: [],
  statut_avis: [],
  dce_pj: [],
  id_ref_nature_consultation: null,
  id_vp_ref_nature_travaux: [],
  id_vp_ref_type_batiment: []
})
const values = reactive({
  id_ref_domaine_activite: [
    {
      value: '2',
      text: 'Etudes, Maîtrise d\'oeuvre, Contrôle'
    },
    {
      value: '5',
      text: 'Travaux publics'
    },
    {
      value: '4',
      text: 'Services'
    },
    {
      value: '1',
      text: 'Travaux de bâtiment'
    },
    {
      value: '3',
      text: 'Fournitures'
    }
  ],
  id_ref_sur_categorie: [
    {
      value: '1',
      text: 'Architectes'
    },
    {
      value: '6',
      text: 'Entités Publiques Locales'
    },
    {
      value: '8',
      text: 'Etablissements Publics de l\'état'
    },
    {
      value: '2',
      text: 'Bureaux d\'études'
    },
    {
      value: '14',
      text: 'Société d\'Economie Mixte'
    },
    {
      value: '11',
      text: 'Organismes HLM'
    },
    {
      value: '10',
      text: 'S.A. d\'HLM'
    },
    {
      value: '3',
      text: 'Collectivités Locales'
    },
    {
      value: '12',
      text: 'Maîtrise d\'ouvrage privée'
    },
    {
      value: '7',
      text: 'Etat'
    },
    {
      value: '4',
      text: 'Collectivités Territoriales'
    },
    {
      value: '9',
      text: 'International'
    },
    {
      value: '13',
      text: 'Sociétés Civiles Immobilières'
    },
    {
      value: '5',
      text: 'Entreprises'
    }
  ],
  id_ref_procedure_passation_famille: [
    {
      value: '5',
      text: 'Procédure adaptée'
    },
    {
      value: '3',
      text: 'Procédure simplifiée'
    },
    {
      value: '2',
      text: 'Procédure restreinte'
    },
    {
      value: '6',
      text: 'Avis de Pré-information'
    },
    {
      value: '8',
      text: 'Avis de concession'
    },
    {
      value: '7',
      text: 'Procédures autres'
    },
    {
      value: '1',
      text: 'Procédure ouverte'
    },
    {
      value: '4',
      text: 'Procédure négociée'
    }
  ],
  statut_avis: [
    {
      value: '2',
      text: 'Avis en cours'
    },
    {
      value: '3',
      text: 'Avis archivés'
    }
  ],
  dce_pj: [
    {
      value: '1',
      text: 'Avec DCE'
    },
    {
      value: '2',
      text: 'Avec pièces jointes'
    }
  ],
  id_ref_nature_consultation: [
    {
      value: '1',
      text: 'Travaux'
    },
    {
      value: '2',
      text: 'Fournitures'
    },
    {
      value: '1',
      text: 'Services'
    },
    {
      value: '2',
      text: 'Prestations Intellectuelles'
    }
  ],
  id_vp_ref_nature_travaux: [
    {
      value: '1',
      text: 'Construction neuve'
    },
    {
      value: '3',
      text: 'Extension'
    },
    {
      value: '2',
      text: 'Réhabilitation/Restructuration'
    },
    {
      value: '6',
      text: 'Aménagement'
    },
    {
      value: '4',
      text: 'Démolition'
    },
    {
      value: '5',
      text: 'Nouvelle implantation'
    },
    {
      value: '7',
      text: 'Transfert'
    }
  ],
  id_vp_ref_type_batiment: [
    {
      value: '14',
      text: 'Autres'
    },
    {
      value: '1',
      text: 'Commerce'
    },
    {
      value: '7',
      text: 'Enseignement'
    },
    {
      value: '3',
      text: 'Industriels'
    },
    {
      value: '10',
      text: 'Logements individuels'
    },
    {
      value: '12',
      text: 'Santé'
    },
    {
      value: '5',
      text: 'Agricole'
    },
    {
      value: '4',
      text: 'Bureaux tertiaires'
    },
    {
      value: '6',
      text: 'Energie'
    },
    {
      value: '8',
      text: 'Hôtel – Restaurant'
    },
    {
      value: '9',
      text: 'Logements collectifs'
    },
    {
      value: '11',
      text: 'Loisirs'
    },
    {
      value: '13',
      text: 'Stockage'
    }
  ]
})
const all_id_ref_sur_categorie = computed({
  get() {
    return criteria.id_ref_sur_categorie.length == values.id_ref_sur_categorie.length
  },

  set(value) {
    let selected = [];

    if (value) {
      values.id_ref_sur_categorie.forEach(function (item) {
        selected.push(item);
      });
    }

    criteria.id_ref_sur_categorie = selected;
  }
})
const all_id_ref_procedure_passation_famille = computed({
  get() {
    return criteria.id_ref_procedure_passation_famille.length == values.id_ref_procedure_passation_famille.length
  },

  set(value) {
    let selected = [];

    if (value) {
      values.id_ref_procedure_passation_famille.forEach(function (item) {
        selected.push(item);
      });
    }

    criteria.id_ref_procedure_passation_famille = selected;
  }
})
const all_statut_avis = computed({
  get() {
    return criteria.statut_avis.length == values.statut_avis.length
  },

  set(value) {
    let selected = [];

    if (value) {
      values.statut_avis.forEach(function (item) {
        selected.push(item);
      });
    }

    criteria.statut_avis = selected;
  }
})
const all_dce_pj = computed({
  get() {
    return criteria.dce_pj.length == values.dce_pj.length
  },

  set(value) {
    let selected = [];

    if (value) {
      values.dce_pj.forEach(function (item) {
        selected.push(item);
      });
    }

    criteria.dce_pj = selected;
  }
})
const all_vp_ref_nature_travaux = computed({
  get() {
    return criteria.id_vp_ref_nature_travaux.length == values.id_vp_ref_nature_travaux.length
  },

  set(value) {
    let selected = [];

    if (value) {
      values.id_vp_ref_nature_travaux.forEach(function (item) {
        selected.push(item);
      });
    }

    criteria.id_vp_ref_nature_travaux = selected;
  }
})
const all_vp_ref_type_batiment = computed({
  get() {
    return criteria.id_vp_ref_type_batiment.length == values.id_vp_ref_type_batiment.length
  },

  set(value) {
    let selected = [];

    if (value) {
      values.id_vp_ref_type_batiment.forEach(function (item) {
        selected.push(item);
      });
    }

    criteria.id_vp_ref_type_batiment = selected;
  }
})
const initData = () => {
  criteria.id_ref_domaine_activite = null
  criteria.id_ref_sur_categorie = []
  criteria.id_ref_procedure_passation_famille = []
  criteria.statut_avis = []
  criteria.dce_pj = []
  criteria.id_ref_nature_consultation = null,
    criteria.id_vp_ref_nature_travaux = []
  criteria.id_vp_ref_type_batiment = []
  // init
  criteria.id_ref_domaine_activite = props.list ? props.list.id_ref_domaine_activite : null
  criteria.id_ref_nature_consultation = props.list ? props.list.id_ref_nature_consultation : null
  criteria.id_ref_sur_categorie = props.list ? props.list.id_ref_sur_categorie : []
  criteria.id_ref_procedure_passation_famille = props.list ? props.list.id_ref_procedure_passation_famille : []
  criteria.statut_avis = props.list ? props.list.statut_avis : []
  criteria.dce_pj = props.list ? props.list.dce_pj : []
  criteria.id_vp_ref_nature_travaux = props.list ? props.list.id_vp_ref_nature_travaux : []
  criteria.id_vp_ref_type_batiment = props.list ? props.list.id_vp_ref_type_batiment : []
}

onMounted(() => {
  criteria.id_ref_domaine_activite = props.list ? props.list.id_ref_domaine_activite : null
  criteria.id_ref_nature_consultation = props.list ? props.list.id_ref_nature_consultation : null
  criteria.id_ref_sur_categorie = props.list ? props.list.id_ref_sur_categorie : []
  criteria.id_ref_procedure_passation_famille = props.list ? props.list.id_ref_procedure_passation_famille : []
  criteria.statut_avis = props.list ? props.list.statut_avis : []
  criteria.dce_pj = props.list ? props.list.dce_pj : []
  criteria.id_vp_ref_nature_travaux = props.list ? props.list.id_vp_ref_nature_travaux : []
  criteria.id_vp_ref_type_batiment = props.list ? props.list.id_vp_ref_type_batiment : []
})

const emit = defineEmits(['close', 'valid'])

const close = () => {
  emit('close')
}

const valid = () => {
  emit('valid', {
    criteria: criteria
  })
}
</script>

<style lang="scss" scoped>

</style>