<template>
  <div ref="mapDepartments" style="width: 432px; height: 320px;"></div>
</template>

<script setup>
import * as am5 from '@amcharts/amcharts5';
import * as am5map from "@amcharts/amcharts5/map";
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated';
import franceHigh from "@amcharts/amcharts5-geodata/franceDepartmentsHigh";
import data from '../regions'
import { ref, onMounted, watch } from 'vue'
const props = defineProps({
  localisations: {
    type: Array,
    required: true
  }
})
const mapDepartments = ref(null)
let root
let chart
let polygonSeries
onMounted(() => {
  root = am5.Root.new(mapDepartments.value);

  // Set themes
  root.setThemes([
    am5themes_Animated.new(root)
  ]);


  chart = root.container.children.push(
    am5map.MapChart.new(root, {
      panX: "rotateX",
      projection: am5map.geoNaturalEarth1()
    })
  );

  let zoomControl = chart.set("zoomControl", am5map.ZoomControl.new(root, {}));

  zoomControl.setAll({
    x: 50,
    y: 300
  })
  
  zoomControl['minusButton'].get('background').setAll({
      fill: am5.color(0xEC6608),
  });

  zoomControl['minusButton'].get('background').states.create('down', {}).setAll({
      fill: am5.color(0xD14905),
  });

  zoomControl['minusButton'].get('background').states.create('hover', {}).setAll({
      fill: am5.color(0x01192F),
  });

  zoomControl['plusButton'].get('background').setAll({
      fill: am5.color(0xEC6608),
  });

  zoomControl['plusButton'].get('background').states.create('down', {}).setAll({
      fill: am5.color(0xD14905),
  });

  zoomControl['plusButton'].get('background').states.create('hover', {}).setAll({
      fill: am5.color(0x01192F),
  });

  // Create polygon series
  polygonSeries = chart.series.push(
    am5map.MapPolygonSeries.new(root, {
      geoJSON: franceHigh,
      exclude: ["AQ"]
    })
  );

  polygonSeries.mapPolygons.template.setAll({
    tooltipText: "{name}",
    toggleKey: "active",
    interactive: true,
    stroke: am5.color(0x000000),
    fill: am5.color(0xFDD9BE)
  });

  polygonSeries.mapPolygons.template.states.create("hover", {
    fill: am5.color(0xF0761F)
  });

  polygonSeries.mapPolygons.template.states.create("active", {
    fill: am5.color(0xF0761F),
  });

  setTimeout(() => {
    props.localisations.forEach(region => {
      region.departments.forEach(item => {
        polygonSeries.mapPolygons.template._entities.find(ent => ent._dataItem.dataContext.id === item.id)?.set('active', true)
      })
    })
  })

  polygonSeries.mapPolygons.template.events.on("click", (ev) => {
    const item = ev.target.dataItem.dataContext
    let regionSelected = props.localisations.find(region => region.id === item.ID_REGION)
    if (regionSelected) {
      if (regionSelected.departments.find(department => department.id === item.id)) {
        ev.target.isActive = false
      } else {
        ev.target.isActive = true
      }
    } else {
      ev.target.isActive = true
    }
    toggleDepartment(ev.target.isActive, item)
  })
})

const toggleDepartment = (active, item) => {
  let regionSelected = props.localisations.find(reg => reg.id === item.ID_REGION)
  let regionBase = JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.ID_REGION)
  let departmentBase = regionBase.departments.find(dep => dep.id === item.id)
  if (active) {
    if (regionSelected) {
      
      regionSelected.departments.push(
        {
          id: item.id,
          name: item.name,
          region: regionBase.id,
          id_ref_departement: departmentBase.id_ref_departement
        }
      )
      if (regionSelected.departments.length === regionBase.departments.length) {
        regionSelected.allSelected = true
      }
    } else {
      props.localisations.push(
        {
          id: regionBase.id,
          id_ref_region: regionBase.id_ref_region,
          name: regionBase.name,
          allSelected: false,
          departments: [
            {
              id: item.id,
              name: item.name,
              region: regionBase.id,
              id_ref_departement: departmentBase.id_ref_departement
            }
          ]
        }
      )
    }
  } else {
    regionSelected.departments.splice(regionSelected.departments.findIndex(dep => dep.id === item.id), 1)
    regionSelected.allSelected = false
    if (regionSelected.departments.length === 0) {
      props.localisations.splice(props.localisations.findIndex(reg => reg.id === item.ID_REGION), 1)
    }
  }
}
watch(props.localisations, () => {
  setTimeout(() => {
    polygonSeries.mapPolygons?.template._entities.forEach(ent => ent.set('active', false))
    props.localisations.forEach(region => {
      region.departments.forEach(item => {
        polygonSeries.mapPolygons.template._entities.find(ent => ent._dataItem.dataContext.id === item.id)?.set('active', true)
      })
    })
  })
}, {
  deep: true
})
</script>


<style lang="scss" scoped>

</style>