<template>
  <div class="bg-white border-2 border-neutral-light box-shadow-neutral-2">
    <div class="p-6">
      <div class="text-m font-bold text-neutral-dark">Vos critères par mots-clés</div>
      <!-- Input -->
      <div class="mt-2">
        <input type="text" class="py-4 pr-3 pl-10 border border-secondary-base w-full search_icon" style="height: 52px;"
          placeholder="mots-clés, code CPV, nom de l’acheteur, ..." v-model="keyword" @blur="addKeywords"
          @keyup.enter="addKeywords" :disabled="keywords.length > 4">
      </div>
      <!-- Chips -->
      <div class="mt-4 w-full" v-if="keywords.length">
        <div class="flex items-center">
          <div class="bg-secondary-base text-white text-m font-medium flex items-center mr-2"
            v-for="(item, index) in keywords" :key="item">
            <div class="py-2 pl-2 pr-1">{{ item }}</div>
            <div class="pr-2 py-2" @click.stop="deleteChip(keywords, index)">
              <IconsCross class="w-4 h-4"></IconsCross>
            </div>
          </div>
        </div>
      </div>
      <div v-if="keywords.length > 4" class="mt-2 text-m font-medium ">5 mots-clés maximum</div>
      <!-- Checkbox -->
      <div class="mt-4 checkbox">
        <div class="flex items-center">
          <input id="checkbox" type="checkbox" name="checkbox" class="hidden" v-model="keywordUnique"/>
          <label for="checkbox" class="flex items-center cursor-pointer text-m font-medium">
            <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark shrink-0"></span>
            Afficher uniquement les avis contenant TOUS les mots-clés saisis
          </label>
        </div>
      </div>
      <!-- Input -->
      <div class="mt-8">
        <div class="flex items-center text-secondary-dark text-s font-bold" v-if="!showExclude"
          @click.stop="showExclude = true">
          <div>
            <IconsPlus></IconsPlus>
          </div>
          <div class="ml-1">Ajouter des mots à exclure</div>
        </div>
        <div v-if="showExclude">
          <div class="text-m font-bold text-neutral-dark">Exclure ces mots</div>
          <!-- Input -->
          <div class="mt-2">
            <input type="text" class="py-4 pr-3 pl-10 border border-secondary-base w-full search_icon"
              style="height: 52px;" placeholder="Essayez “électricité” ou “plomberie”" v-model="exclude"
              @blur="addExclude" @keyup.enter="addExclude" :disabled="excludes.length > 4">
          </div>
          <!-- Chips -->
          <div class="mt-4 w-full" v-if="excludes.length">
            <div class="flex items-center">
              <div class="bg-secondary-base text-white text-m font-medium flex items-center mr-2"
                v-for="(item, index) in excludes" :key="item">
                <div class="py-2 pl-2 pr-1">{{ item }}</div>
                <div class="pr-2 py-2" @click.stop="deleteChip(excludes, index)">
                  <IconsCross class="w-4 h-4"></IconsCross>
                </div>
              </div>
            </div>
          </div>
          <div v-if="excludes.length > 4" class="mt-2 text-m font-medium ">5 mots-clés maximum</div>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div class="px-6 py-4 flex justify-between items-center border-t-2 border-neutral-light">
      <div class="flex items-center">
        <span class="link-button text-m mr-8"  @click.stop="close">Annuler</span>
        <span class="flex link items-center" @click.stop="initData">
          <div>
            <IconsRepeat></IconsRepeat>
          </div>
          <div class="ml-1 text-s font-medium">Réinitialiser</div>
        </span>
      </div>
      <div>
        <button class="text-xm font-bold primary-btn" @click.stop="valid">Appliquer</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import IconsPlus from '../../icons/plus.vue'
import IconsCross from '../../icons/cross.vue'
import IconsRepeat from '../../icons/repeat.vue'

const props = defineProps({
  list: {
    type: Array
  },
  excludes: {
    type: Array
  },
  keywordUnique: {
    type: Boolean
  }
})
let keyword = ref('')
let keywords = reactive([])
let exclude = ref('')
let excludes = reactive([])
let showExclude = ref(false)
let keywordUnique = ref(false)
onMounted(() => {
  props.list.forEach(ele => {
    keywords.push(ele)
  })
  props.excludes.forEach(ele => {
    excludes.push(ele)
  })
  showExclude.value = props.excludes.length
  keywordUnique.value = JSON.parse(JSON.stringify(props.keywordUnique))
})

const deleteChip = (arr, index) => {
  arr.splice(index, 1)
}
const addKeywords = () => {
  if (keyword.value) {
    keywords.push(keyword.value)
    keyword.value = ''
  }
}

const addExclude = () => {
  if (exclude.value) {
    excludes.push(exclude.value)
    exclude.value = ''
  }
}

const initData = () => {
  keywords.splice(0)
  excludes.splice(0)
  keywordUnique.value = JSON.parse(JSON.stringify(props.keywordUnique))
  props.list.forEach(ele => {
    keywords.push(ele)
  })
  showExclude.value = props.excludes.length
  props.excludes.forEach(ele => {
    excludes.push(ele)
  })
}

const emit = defineEmits(['close', 'valid'])

const close = () => {
  emit('close')
}
const valid = () => {
  emit('valid', {
    keywords: keywords, 
    excludes: showExclude ? excludes : [],
    keywordUnique: keywordUnique
  })
}

</script>

<style lang="scss" scoped>
.search_icon {
  background-image: url("../../icons/Search.svg");
  background-repeat: no-repeat;
  background-position: 12px;

  &:disabled {
    @apply border-neutral-light;
  }
}
</style>