<template>
  <div class="bg-white border-2 border-neutral-light box-shadow-neutral-2">
    <div class="p-6">
      <div class="text-m font-bold text-neutral-dark">Rechercher</div>
      <!-- Input -->
      <div class="mt-2 relative" v-click-outside="hideSuggestList">
        <input type="text" class="py-4 pr-3 pl-10 border border-secondary-base w-full pin_icon" style="height: 52px;"
          placeholder="Régions, Départements" v-model="values.localisation" @input="search">
        <div class="absolute left-0 w-full bg-white border border-secondary-base z-20 p-4"
          v-if="values.suggestList.length">
          <div class="text-m font-bold text-neutral-dark">Suggestions</div>
          <div class="mt-2 divide-y divide-neutral-ultra-light">
            <div class="py-2" v-for="item in values.suggestList">
              <div @click.stop="addLocalisation(item)">{{ item.name }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Chips -->
      <div class="mt-4 w-full">
        <div class="flex flex-wrap text-white text-m font-medium">
          <div v-for="region in values.localisations" :key="region.id">
            <div v-if="region.allSelected" class="mr-2 my-1 flex items-center bg-secondary-base">
              <div class="py-2 pl-2 pr-1">{{ region.name }}</div>
              <div class="pr-2 py-2" @click.stop="deleteChip(region)">
                <IconsCross class="w-4 h-4"></IconsCross>
              </div>
            </div>
            <div v-else class="flex flex-wrap">
              <div class="mr-2 my-1 flex items-center bg-secondary-base" v-for="department in region.departments">
                <div class="py-2 pl-2 pr-1">
                  {{ department.id.slice(3) }}-{{ department.name }}
                </div>
                <div class="pr-2 py-2" @click.stop="deleteChip(department)">
                  <IconsCross class="w-4 h-4"></IconsCross>
                </div>
              </div>
            </div>
          </div>
          <div v-if="drom_com" class="mr-2 my-1 flex items-center bg-secondary-base">
            <div class="py-2 pl-2 pr-1">{{ data.overseas.name }}</div>
            <div class="pr-2 py-2" @click.stop="drom_com = false">
              <IconsCross class="w-4 h-4"></IconsCross>
            </div>
          </div>
          <div v-if="etranger" class="mr-2 my-1 flex items-center bg-secondary-base">
            <div class="py-2 pl-2 pr-1">{{ data.others.name }}</div>
            <div class="pr-2 py-2" @click.stop="etranger = false">
              <IconsCross class="w-4 h-4"></IconsCross>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 text-primary-dark text-m font-bold">
        <div class="flex items-center" v-if="!showMap">
          <div @click.stop="showMap = true">Afficher la carte</div>
          <div class="ml-2">
            <IconsExpandMore></IconsExpandMore>
          </div>
        </div>
        <div class="flex items-center" v-else>
          <div @click.stop="showMap = false">Masquer la carte</div>
          <div class="ml-2">
            <IconsExpandLess></IconsExpandLess>
          </div>
        </div>
      </div>
      <!-- Map -->
      <div class="mt-6 flex" v-if="showMap">
        <div class="w-3/5">
          <SearchCardsDepartmentsMap v-if="mapMode" :localisations="values.localisations"></SearchCardsDepartmentsMap>
          <SearchCardsRegionsMap v-else :localisations="values.localisations"></SearchCardsRegionsMap>
        </div>
        <div class="w-2/5 flex justify-center items-center radio">
          <div>
            <div class="flex items-center">
              <input id="regionRadio" type="radio" name="mapRadio" :value="false" class="hidden" v-model="mapMode" />
              <label for="regionRadio" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border rounded-full inline bg-white border-secondary-dark"></span>
                Vue par région
              </label>
            </div>
            <div class="flex items-center mt-4">
              <input id="departmentRadio" type="radio" name="mapRadio" :value="true" class="hidden" v-model="mapMode" />
              <label for="departmentRadio" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border rounded-full inline bg-white border-secondary-dark"></span>
                Vue par département
              </label>
            </div>
            <div class="mt-8 p-6 bg-neutral-ultra-light checkbox">
              <div>
                <input id="drom-com" type="checkbox" name="drom-com" class="hidden" v-model="drom_com" />
                <label for="drom-com" class="flex items-center cursor-pointer text-m font-medium">
                  <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  DROM-COM
                </label>
              </div>
              <div class="mt-4">
                <input id="foreigner" type="checkbox" name="foreigner" class="hidden" v-model="etranger" />
                <label for="foreigner" class="flex items-center cursor-pointer text-m font-medium">
                  <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  Étranger
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-6 py-4 flex justify-between items-center border-t-2 border-neutral-light">
      <div class="flex items-center">
        <span class="link-button text-m mr-8" @click.stop="close">Annuler</span>
        <span class="flex link items-center">
          <div>
            <IconsRepeat></IconsRepeat>
          </div>
          <div class="ml-1 text-s font-medium" @click.stop="initData">Réinitialiser</div>
        </span>
      </div>
      <div>
        <button class="text-xm font-bold primary-btn" @click.stop="valid">Appliquer</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import SearchCardsDepartmentsMap from './DepartmentsMap.vue'
import SearchCardsRegionsMap from './RegionsMap.vue'
import IconsRepeat from '../../icons/repeat.vue'
import IconsCross from '../../icons/cross.vue'
import IconsExpandMore from '../../icons/expand_more.vue'
import IconsExpandLess from '../../icons/expand_less.vue'
import data from '../regions'
const props = defineProps({
  list: {
    type: Array
  },
  drom_com: {
    type: Boolean
  },
  etranger: {
    type: Boolean
  }
})
let values = reactive({
  localisation: '',
  localisations: [],
  suggestData: [],
  suggestList: []
})
let showMap = ref(true)
let mapMode = ref(false)

let drom_com = ref(false)
let etranger = ref(false)
let debounce = null

onMounted(() => {
  props.list.forEach(item => {
    values.localisations.push(JSON.parse(JSON.stringify(item)))
  })
  drom_com.value = JSON.parse(JSON.stringify(props.drom_com))
  etranger.value = JSON.parse(JSON.stringify(props.etranger))

  let list = JSON.parse(JSON.stringify(data.regions))

  let listRegions = list.map(reg => {
    return {
      id: reg.id,
      name: reg.name
    }
  })
  let listDepartments = list.reduce((a, b) => {
    return a.concat(b.departments)
  }, [])

  values.suggestData = [...listRegions, ...listDepartments]
})

const search = () => {
  clearTimeout(debounce)
  debounce = setTimeout(() => {
    if (values.localisation.length > 2) {
      values.suggestList = values.suggestData.filter(ele => ele.name.toLocaleLowerCase().indexOf(values.localisation.toLocaleLowerCase()) !== -1)
    } else {
      values.suggestList = []
    }
  }, 500)
}

const hideSuggestList = () => {
  values.localisation = ''
  values.suggestList = []
}

const addLocalisation = (item) => {
  if (item.region) {
    //department
    if (values.localisations.find(reg => reg.id === item.region)) {
      let region = values.localisations.find(reg => reg.id === item.region)
      if (!region.departments.find(dep => dep.id === item.id)) {
        region.departments.push(item)
        if (region.departments.length === data.regions.find(reg => reg.id === region.id).departments.length) {
          region.allSelected = true
        }
      }
    } else {
      let region = JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.region)
      region.departments = [item]
      region.allSelected = false
      values.localisations.push(region)
    }
  } else {
    //region
    if (!values.localisations.find(reg => reg.id === item.id)) {
      values.localisations.push(JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.id))
    } else {
      values.localisations.splice(values.localisations.findIndex(reg => reg.id === item.id), 1)
      values.localisations.push(JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.id))
    }
  }
  hideSuggestList()
}

const deleteChip = (item) => {
  if (item.region) {
    //department
    let region = values.localisations.find(reg => reg.id === item.region)
    region.departments.splice(region.departments.findIndex(dep => dep.id === item.id), 1)
    region.allSelected = false
    if (region.departments.length === 0) {
      values.localisations.splice(values.localisations.findIndex(reg => reg.id === region.id), 1)
    }
  } else {
    //region
    if (values.localisations.findIndex(reg => reg.id === item.id) !== -1) {
      values.localisations.splice(values.localisations.findIndex(reg => reg.id === item.id), 1)
    }
  }
}

// directive
const vClickOutside = {
  mounted: function mounted(el, binding, vnode) {
    el.clickOutsideEvent = function (event) {
      if (!(el == event.target || el.contains(event.target))) {
        binding.value(event, el);
      }
    };
    document.addEventListener("click", el.clickOutsideEvent);
  },
  unmounted: function unmounted(el) {
    document.removeEventListener("click", el.clickOutsideEvent);
  }
}

const initData = () => {
  values.localisations.length = 0
  props.list.forEach(item => {
    values.localisations.push(JSON.parse(JSON.stringify(item)))
  })
  drom_com.value = JSON.parse(JSON.stringify(props.drom_com))
  etranger.value = JSON.parse(JSON.stringify(props.etranger))
}

const emit = defineEmits(['close', 'valid'])

const close = () => {
  emit('close')
}
const valid = () => {
  emit('valid', {
    localisations: values.localisations,
    drom_com: drom_com,
    etranger: etranger
  })
}
</script>

<style lang="scss" scoped>
.pin_icon {
  background-image: url("../../icons/Pin.svg");
  background-repeat: no-repeat;
  background-position: 12px;
}
</style>