<template>
  <div ref="mapRegion" style="width: 432px; height: 320px;"></div>
</template>

<script setup>
import * as am5 from '@amcharts/amcharts5';
import * as am5map from "@amcharts/amcharts5/map";
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated';
import franceHigh from "@amcharts/amcharts5-geodata/franceHigh";
import data from '../regions'
import { ref, onMounted, watch } from 'vue'
const props = defineProps({
  localisations: {
    type: Array,
    required: true
  }
})
const mapRegion = ref(null)
let root
let chart
let polygonSeries
onMounted(() => {
  root = am5.Root.new(mapRegion.value);

  // Set themes
  root.setThemes([
    am5themes_Animated.new(root)
  ]);


  chart = root.container.children.push(
    am5map.MapChart.new(root, {
      panX: "rotateX",
      projection: am5map.geoNaturalEarth1()
    })
  );

  let zoomControl = chart.set("zoomControl", am5map.ZoomControl.new(root, {}));

  zoomControl.setAll({
    x: 50,
    y: 300
  })
  
  zoomControl['minusButton'].get('background').setAll({
      fill: am5.color(0xEC6608),
  });

  zoomControl['minusButton'].get('background').states.create('down', {}).setAll({
      fill: am5.color(0xD14905),
  });

  zoomControl['minusButton'].get('background').states.create('hover', {}).setAll({
      fill: am5.color(0x01192F),
  });

  zoomControl['plusButton'].get('background').setAll({
      fill: am5.color(0xEC6608),
  });

  zoomControl['plusButton'].get('background').states.create('down', {}).setAll({
      fill: am5.color(0xD14905),
  });

  zoomControl['plusButton'].get('background').states.create('hover', {}).setAll({
      fill: am5.color(0x01192F),
  });


  // Create polygon series
  polygonSeries = chart.series.push(
    am5map.MapPolygonSeries.new(root, {
      geoJSON: franceHigh,
      exclude: ["AQ"]
    })
  );

  polygonSeries.mapPolygons.template.setAll({
    tooltipText: "{name}",
    toggleKey: "active",
    interactive: true,
    stroke: am5.color(0x000000),
    fill: am5.color(0xFDD9BE)
  });

  polygonSeries.mapPolygons.template.states.create("hover", {
    fill: am5.color(0xF0761F)
  });

  polygonSeries.mapPolygons.template.states.create("active", {
    fill: am5.color(0xF0761F),
  });

  setTimeout(() => {
    props.localisations.filter(region => region.allSelected).forEach(region => {
      polygonSeries.mapPolygons.template._entities.find(ent => ent._dataItem.dataContext.id === region.id)?.set('active', true)
    })
  })

  polygonSeries.mapPolygons.template.events.on("click", (ev) => {
    const item = ev.target.dataItem.dataContext
    let region = props.localisations.find(reg => reg.id === item.id)
    if (region && region.allSelected === true) {
      ev.target.isActive = false
    } else {
      ev.target.isActive = true
    }
    toggleRegion(ev.target.isActive, item)
  })
})


const toggleRegion = (active, item) => {
  if (active) {
    if (props.localisations.findIndex(reg => reg.id === item.id) !== -1) {
      props.localisations.splice(props.localisations.findIndex(reg => reg.id === item.id), 1)
    }
    props.localisations.push(JSON.parse(JSON.stringify(data.regions.find(reg => reg.id === item.id))))
  } else {
    if (props.localisations.findIndex(reg => reg.id === item.id) !== -1) {
      props.localisations.splice(props.localisations.findIndex(reg => reg.id === item.id), 1)
    }
  }
} 
watch(props.localisations, () => {
  setTimeout(() => {
    polygonSeries.mapPolygons?.template._entities.forEach(ele => ele.set('active', false))
    props.localisations.filter(region => region.allSelected).forEach(region => {
      polygonSeries.mapPolygons.template._entities.find(ent => ent._dataItem.dataContext.id === region.id)?.set('active', true)
    })
  })
}, {
  deep: true
})
</script>

<style lang="scss" scoped>

</style>