.box-shadow-secondary-1 {
    box-shadow: 1px 1px 0px #01192F;
}
.box-shadow-secondary-2 {
    box-shadow: 2px 2px 0px #01192F;
}
.box-shadow-neutral-1 {
    box-shadow: 1px 1px 0px #AEB5BC;
}
.box-shadow-neutral-2 {
    box-shadow: 2px 2px 0px #AEB5BC;
}
.box-shadow-primary-1 {
    box-shadow: 1px 1px 0px #F0761F;
}
.border-default {
    border: 1px solid #AEB5BC;
    @apply box-border;
}