.primary-btn {
    @apply bg-primary-base;
    color: white;
    padding: 24px 50px;
    box-shadow: inset -1px -1px 0px #01192f;
    &:hover,
    &:focus {
        @apply bg-secondary-dark;
    }
    &:active {
        @apply bg-primary-dark;
    }
    &:disabled {
        pointer-events: none;
        @apply bg-neutral-light;
    }
}

.primary-dark-btn {
    @apply bg-secondary-base;
    color: white;
    padding: 24px 50px;

    &:hover,
    &:focus {
        @apply bg-secondary-dark;
        box-shadow: inset -1px -1px 0px #01192F;
    }
    &:active {
        @apply bg-neutral-dark;
        box-shadow: inset -1px -1px 0px #01192F;
    }
    &:disabled {
        pointer-events: none;
        @apply bg-neutral-light;
    }
}

.primary-btn-no-padding {
    @apply bg-primary-base;
    color: white;
    padding: 0 52px;
    box-shadow: inset -1px -1px 0px #01192f;
    &:hover,
    &:focus {
        @apply bg-secondary-dark;
    }
    &:active {
        @apply bg-primary-dark;
    }
    &:disabled {
        pointer-events: none;
        @apply bg-neutral-light;
    }
}

.primary-icon-btn {
    @extend .primary-btn;
    padding: 0 !important;
    width: 52px;
    height: 52px;
}

.secondary-btn {
    background-color: white;
    @apply text-secondary-dark;
    padding: 24px 50px !important;
    box-shadow: inset -1px -1px 0px #01192f;
    &:hover,
    &:focus {
        @apply bg-secondary-dark;
        color: white;
    }
    &:active {
        @apply text-secondary-dark;
        @apply bg-neutral-ultra-light;
    }
    &:disabled {
        pointer-events: none;
        @apply bg-neutral-light;
        color: white;
    }
}

.secondary-icon-btn {
    @extend .secondary-btn;
    padding: 0 !important;
    width: 52px;
    height: 52px;
}

.digit-btn {
    padding: 11px 15px;
    border: 1px solid #aeb5bc;
    box-shadow: inset -1px -1px 0px #aeb5bc;
    @apply text-neutral-dark;
    background-color: white;
    &:hover,
    &:focus {
        border: 1px solid #ec6608;
        box-shadow: 1px 1px 0px #f0761f;
    }
    &:active {
        @apply bg-secondary-base;
        color: white;
        border: 1px solid #163056;
        box-shadow: none;
    }
    &:disabled {
        pointer-events: none;
        @apply bg-neutral-light;
        color: white;
        border: 1px solid #aeb5bc;
        box-shadow: inset -1px -1px 0px #aeb5bc;
    }
}

.btn-mobile {
    width: 100%;
    max-width: 375px;
    @media (min-width: 1024px) {
        width: auto;
        max-width: 100%;
    }
}