// Common
.container_default {
  @media (min-width: 1024px) {
    max-width: 976px;
  }

  @media (min-width: 1280px) {
    max-width: 1300px;
  }
}

.main_container {
  @media (min-width: 1024px) {
    margin-top: 82px !important;
  }
}

// logo img
.title_img_container {
  position: absolute;
  top: 82px;
  right: 0;
}

.detail_img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.faq_active {
  font-weight: 700 !important;
}

// hide scroll bar style
.scroll-bar::-webkit-scrollbar {
  display: none;
}

.scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

//Line vertical
.timeline::after {
  content: '';
  z-index: -10;
  height: 100%;
  position: absolute;
  top: 0;
  left: 16px;
  border-left: 1px solid #AEB5BC;

  @media (min-width: 1024px) {
    left: 20px;
  }
}

.checkbox {
  input[type="checkbox"]:checked+label span {
    @apply bg-primary-dark;
    box-shadow: 0px 0px 0px 3px white inset;
  }

  input[type="checkbox"]:checked+label {
    font-weight: 700 !important;
  }

  input[type="checkbox"]:hover+label span {
    @apply border-2
  }

  input[type="checkbox"]:hover+label {
    font-weight: 700 !important;
  }
}

.radio {
  input[type="radio"]:checked+label span {
    @apply bg-primary-dark;
    box-shadow: 0px 0px 0px 3px white inset;
  }

  input[type="radio"]:checked+label {
    font-weight: 700 !important;
  }

  input[type="radio"]:hover+label span {
    @apply border-2
  }

  input[type="radio"]:hover+label {
    font-weight: 700 !important;
  }
}