<template>
  <div class="hidden lg:flex mx-6 lg:mx-auto breadcrumb_container container_default">
    <div v-for="(breadcrumb, index) in breadcrumbs" :key="breadcrumb" class="flex items-center last:font-bold">
      <div class="mr-1 text-s link-dark">{{breadcrumb}}</div>
      <div><IconsChevronRight class="mr-1 text-white"  v-if="index + 1 !== breadcrumbs.length"></IconsChevronRight></div>
    </div>
  </div>
</template>

<script setup>
import IconsChevronRight from './icons/chevron_right.vue'
defineProps({
  breadcrumbs: {
    type: Array,
    required: true
  }
})
</script>

<style lang="scss" scoped>
.breadcrumb_container {
  padding-top: 33px;
}
</style>