<template>
  <div>
    <div class="w-full bg-secondary-base p-6 text-white">
      <div class="flex items-center justify-between">
        <div class="text-m font-bold"></div>
        <div><button class="primary-btn text-m font-bold" @click="showSearch">Modifier ma recherche</button></div>
      </div>
    </div>
    <div v-if="show" class="fixed w-screen h-screen bg-white z-40 left-0 top-0 overflow-auto">
    <div class="fixed right-5 top-6" @click="hideSearch">
      <IconsCross></IconsCross>
    </div>
    <div class="p-6">
      <div class="text-xm font-bold text-primary-dark text-center">Modifier ma recherche</div>
      <!-- Radios -->
      <div class="mt-10">
        <div class="search_radio text-center mt-6 first:mt-0"
          :class="{ 'search_radio_selected': item.value === values.type.value }" v-for="item in types" :key="item"
          @click="selectType(item)">
          {{ item.text }}
        </div>
      </div>
      <!-- Keyword -->
      <div class="mt-10 pb-10 border-b border-neutral-ultra-light">
        <div class="text-l font-bold text-secondary-base">Mots-clés</div>
        <div class="text-m font-bold text-neutral-dark mt-6">Vos critères par mots-clés</div>
        <!-- Input -->
        <div class="mt-2">
          <input type="text" class="py-4 pr-3 pl-10 border border-secondary-base w-full search_icon"
            style="height: 52px;" placeholder="mots-clés, code CPV, nom de l’acheteur, ..." v-model="keyword"
            @blur="addKeyword" @keyup.enter="addKeyword" :disabled="values.keywords.length > 4">
        </div>
        <!-- Checkbox -->
        <div class="mt-4 checkbox">
          <div class="flex items-center">
            <input id="checkbox" type="checkbox" name="checkbox" class="hidden" v-model="values.keywordUnique" />
            <label for="checkbox" class="flex items-center cursor-pointer text-m font-bold">
              <span class="w-5 h-5 mr-2 border inline bg-white border-secondary-dark shrink-0"></span>
              Afficher uniquement les avis contenant TOUS les mots-clés saisis
            </label>
          </div>
        </div>
        <!-- Chips -->
        <div class="mt-4 w-full" v-if="values.keywords.length">
          <div class="flex items-center">
            <div class="bg-secondary-base text-white text-m font-medium flex items-center mr-2"
              v-for="(item, index) in values.keywords" :key="item">
              <div class="py-2 pl-2 pr-1">{{ item }}</div>
              <div class="pr-2 py-2" @click.stop="deleteKeywordChip(values.keywords, index)">
                <IconsCross class="w-4 h-4"></IconsCross>
              </div>
            </div>
          </div>
        </div>
        <div v-if="values.keywords.length > 4" class="mt-2 text-m font-medium ">5 mots-clés maximum</div>

        <div class="text-m font-bold text-neutral-dark mt-8">Exclure ces mots</div>
        <!-- Input -->
        <div class="mt-2">
          <input type="text" class="py-4 pr-3 pl-10 border border-secondary-base w-full search_icon"
            style="height: 52px;" placeholder="Essayez “électricité” ou “plomberie”" v-model="exclude"
            @blur="addExclude" @keyup.enter="addExclude" :disabled="values.excludes.length > 4">
        </div>
        <!-- Chips -->
        <div class="mt-4 w-full" v-if="values.excludes.length">
          <div class="flex items-center">
            <div class="bg-secondary-base text-white text-m font-medium flex items-center mr-2"
              v-for="(item, index) in values.excludes" :key="item">
              <div class="py-2 pl-2 pr-1">{{ item }}</div>
              <div class="pr-2 py-2" @click.stop="deleteKeywordChip(values.excludes, index)">
                <IconsCross class="w-4 h-4"></IconsCross>
              </div>
            </div>
          </div>
        </div>
        <div v-if="values.excludes.length > 4" class="mt-2 text-m font-medium ">5 mots-clés maximum</div>
      </div>
      <!-- Localisations -->
      <div class="mt-10 pb-10 border-b border-neutral-ultra-light">
        <div class="text-l font-bold text-secondary-base">Localisation</div>
        <div class="text-m font-bold text-neutral-dark mt-6">Rechercher</div>
        <!-- Input -->
        <div class="mt-2 relative">
          <input type="text" class="py-4 pr-3 pl-10 border border-secondary-base w-full pin_icon" style="height: 52px;"
            placeholder="Régions, Départements" v-model="localisation" @input="search">
          <div class="absolute left-0 w-full bg-white border border-secondary-base z-20 p-4"
            v-if="suggests.suggestList.length">
            <div class="text-m font-bold text-neutral-dark">Suggestions</div>
            <div class="mt-2 divide-y divide-neutral-ultra-light">
              <div class="py-2" v-for="item in suggests.suggestList">
                <div @click.stop="addLocalisation(item)">{{ item.name }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Chips -->
        <div class="mt-4 w-full">
          <div class="flex flex-wrap text-white text-m font-medium">
            <div v-for="region in values.localisations" :key="region.id">
              <div v-if="region.allSelected" class="mr-2 my-1 flex items-center bg-secondary-base">
                <div class="py-2 pl-2 pr-1">{{ region.name }}</div>
                <div class="pr-2 py-2" @click.stop="deleteLocalisationChip(region)">
                  <IconsCross class="w-4 h-4"></IconsCross>
                </div>
              </div>
              <div v-else class="flex flex-wrap">
                <div class="mr-2 my-1 flex items-center bg-secondary-base" v-for="department in region.departments">
                  <div class="py-2 pl-2 pr-1">
                    {{ department.id.slice(3) }}-{{ department.name }}
                  </div>
                  <div class="pr-2 py-2" @click.stop="deleteLocalisationChip(department)">
                    <IconsCross class="w-4 h-4"></IconsCross>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="values.drom_com" class="mr-2 my-1 flex items-center bg-secondary-base">
              <div class="py-2 pl-2 pr-1">{{ data.overseas.name }}</div>
              <div class="pr-2 py-2" @click.stop="values.drom_com = false">
                <IconsCross class="w-4 h-4"></IconsCross>
              </div>
            </div>
            <div v-if="values.etranger" class="mr-2 my-1 flex items-center bg-secondary-base">
              <div class="py-2 pl-2 pr-1">{{ data.others.name }}</div>
              <div class="pr-2 py-2" @click.stop="values.etranger = false">
                <IconsCross class="w-4 h-4"></IconsCross>
              </div>
            </div>
          </div>
        </div>
        <!-- Checkbox -->
        <div class="mt-6 p-6 bg-neutral-ultra-light checkbox">
          <div>
            <input id="drom-com" type="checkbox" name="drom-com" class="hidden" v-model="values.drom_com" />
            <label for="drom-com" class="flex items-center cursor-pointer text-m font-medium">
              <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              DROM-COM
            </label>
          </div>
          <div class="mt-6">
            <input id="foreigner" type="checkbox" name="foreigner" class="hidden" v-model="values.etranger" />
            <label for="foreigner" class="flex items-center cursor-pointer text-m font-medium">
              <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
              Étranger
            </label>
          </div>
        </div>
      </div>
      <!-- Criteria -->
      <div class="mt-10 pb-7">
        <div class="text-l font-bold text-secondary-base flex justify-between" @click="showCriteria = !showCriteria">
          <div>+ de critères</div>
          <div v-if="!showCriteria">
            <IconsExpandMore></IconsExpandMore>
          </div>
          <div v-else>
            <IconsExpandLess></IconsExpandLess>
          </div>
        </div>
        <!-- options -->
        <div class="mt-6" v-if="showCriteria">
          <!-- Domaines d’activité -->
          <div v-if="values.type.value === '1' || values.type.value === '2'">
            <div class="text-l font-bold text-primary-dark">Domaines d’activité</div>
            <div class="ml-6 radio flex flex-wrap">
              <div v-for="item in options.id_ref_domaine_activite" class="w-full mt-8">
                <input type="radio" :id="item.text + item.value" :value="item"
                  v-model="values.criteria.id_ref_domaine_activite" class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span
                    class="flex-shrink-0	w-5 h-5 mr-1 border rounded-full inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
          <!-- Types d'acheteur -->
          <div class="mt-10" v-if="values.type.value === '1' || values.type.value === '2'">
            <div class="text-l font-bold text-primary-dark">Types d'acheteur</div>
            <div class="mt-8 checkbox">
              <input id="ref_sur_categorie" type="checkbox" name="ref_sur_categorie" v-model="all_id_ref_sur_categorie"
                class="hidden" />
              <label for="ref_sur_categorie" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                Tout sélectionner
              </label>
            </div>
            <div class="ml-6 checkbox flex flex-wrap">
              <div v-for="item in options.id_ref_sur_categorie" class="w-full mt-8">
                <input type="checkbox" :id="item.text + item.value" :value="item"
                  v-model="values.criteria.id_ref_sur_categorie" class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
          <!-- Types de procédure -->
          <div class="mt-10" v-if="values.type.value === '1' || values.type.value === '2'">
            <div class="text-l font-bold text-primary-dark">Types de procédure</div>
            <div class="mt-8 checkbox">
              <input id="ref_procedure_passation_famille" type="checkbox" name="ref_procedure_passation_famille"
                v-model="all_id_ref_procedure_passation_famille" class="hidden" />
              <label for="ref_procedure_passation_famille" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                Tout sélectionner
              </label>
            </div>
            <div class="ml-6 checkbox flex flex-wrap">
              <div v-for="item in options.id_ref_procedure_passation_famille" class="w-full mt-8">
                <input type="checkbox" :id="item.text + item.value" :value="item"
                  v-model="values.criteria.id_ref_procedure_passation_famille" class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
          <!-- Nature de prestation -->
          <div v-if="values.type.value === '4,5'">
            <div class="text-l font-bold text-primary-dark">Nature de prestation</div>
            <div class="ml-6 radio flex flex-wrap">
              <div v-for="item in options.id_ref_domaine_activite" class="w-full mt-8">
                <input type="radio" :id="item.text + item.value" :value="item"
                  v-model="values.criteria.id_ref_domaine_activite" class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span
                    class="flex-shrink-0	w-5 h-5 mr-1 rounded-full border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
          <!-- Nature des travaux -->
          <div v-if="values.type.value === '3'">
            <div class="text-l font-bold text-primary-dark">Nature des travaux</div>
            <div class="mt-8 checkbox">
              <input id="id_vp_ref_nature_travaux" type="checkbox" name="id_vp_ref_nature_travaux" class="hidden"
                v-model="all_vp_ref_nature_travaux" />
              <label for="id_vp_ref_nature_travaux" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                Tout sélectionner
              </label>
            </div>
            <div class="ml-6 checkbox flex flex-wrap">
              <div v-for="item in options.id_vp_ref_nature_travaux" class="w-full mt-8">
                <input type="checkbox" :id="item.text + item.value" :value="item"
                  v-model="values.criteria.id_vp_ref_nature_travaux" class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
          <!-- Type de bâtiment -->
          <div class="mt-10" v-if="values.type.value === '3'">
            <div class="text-l font-bold text-primary-dark">Type de bâtiment</div>
            <div class="mt-8 checkbox">
              <input id="id_vp_ref_type_batiment" type="checkbox" name="id_vp_ref_type_batiment" class="hidden" v-model="all_vp_ref_type_batiment" />
              <label for="id_vp_ref_type_batiment" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                Tout sélectionner
              </label>
            </div>
            <div class="ml-6 checkbox flex flex-wrap">
              <div v-for="item in options.id_vp_ref_type_batiment" class="w-full mt-8">
                <input type="checkbox" :id="item.text + item.value" :value="item" v-model="values.criteria.id_vp_ref_type_batiment"
                  class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>

          <!-- Statuts des avis -->
          <div class="mt-10">
            <div class="text-l font-bold text-primary-dark">Statuts des avis</div>
            <div class="mt-8 checkbox">
              <input id="statut_avis" type="checkbox" name="statut_avis" class="hidden" v-model="all_statut_avis" />
              <label for="statut_avis" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                Tout sélectionner
              </label>
            </div>
            <div class="ml-6 checkbox flex flex-wrap">
              <div v-for="item in options.statut_avis" class="w-full mt-8">
                <input type="checkbox" :id="item.text + item.value" :value="item" v-model="values.criteria.statut_avis"
                  class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
          <!-- DCE / Pièces jointes -->
          <div class="mt-10">
            <div class="text-l font-bold text-primary-dark">DCE / Pièces jointes</div>
            <div class="mt-8 checkbox">
              <input id="dce_pj" type="checkbox" name="dce_pj" class="hidden" v-model="all_dce_pj" />
              <label for="dce_pj" class="flex items-center cursor-pointer text-m font-medium">
                <span class="w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                Tout sélectionner
              </label>
            </div>
            <div class="ml-6 checkbox flex flex-wrap">
              <div v-for="item in options.dce_pj" class="w-full mt-8">
                <input type="checkbox" :id="item.text + item.value" :value="item" v-model="values.criteria.dce_pj"
                  class="hidden">
                <label :for="item.text + item.value" class="flex xl:items-center cursor-pointer text-m font-medium">
                  <span class="flex-shrink-0 w-5 h-5 mr-1 border inline bg-white border-secondary-dark"></span>
                  {{ item.text }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="px-6 py-4 border-t-2 border-neutral-light">
        <div class="flex items-center justify-between">
          <span class="link-button text-m" @click="hideSearch">Annuler</span>
          <span class="flex link items-center">
            <div>
              <IconsRepeat></IconsRepeat>
            </div>
            <div class="ml-1 text-s font-medium" @click="initData">Réinitialiser</div>
          </span>
        </div>
        <div class="mt-6">
          <button class="text-xm font-bold primary-btn w-full" @click="valid">Appliquer</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script setup>
import { ref, reactive, onMounted, onBeforeUnmount, computed } from 'vue'
import IconsCross from '../icons/cross.vue'
import IconsRepeat from '../icons/repeat.vue'
import IconsExpandMore from '../icons/expand_more.vue'
import IconsExpandLess from '../icons/expand_less.vue'
import data from './regions'
const props = defineProps({
  list: {
    type: Object,
    required: true
  }
})

let values = reactive({
  type: {
    value: '1',
    text: 'Appels d’offres'
  },
  localisations: [],
  drom_com: false,
  etranger: false,
  keywords: [],
  excludes: [],
  keywordUnique: false,
  criteria: {
    id_ref_domaine_activite: null,
    id_ref_sur_categorie: [],
    id_ref_procedure_passation_famille: [],
    statut_avis: [],
    dce_pj: [],
    id_ref_nature_consultation: null,
    id_vp_ref_nature_travaux: [],
    id_vp_ref_type_batiment: []
  }
})

let isDesktop = ref(false)
const onResize = () => {
  hideSearch()
  isDesktop.value = window.innerWidth > 1023
}
onMounted(() => {
  onResize()
  window.addEventListener("resize", onResize);
  values.type = JSON.parse(JSON.stringify(props.list.type))
  props.list.keywords.forEach(ele => {
    values.keywords.push(ele)
  })
  props.list.excludes.forEach(ele => {
    values.excludes.push(ele)
  })
  values.keywordUnique = JSON.parse(JSON.stringify(props.list.keywordUnique))
  props.list.localisations.forEach(item => {
    values.localisations.push(JSON.parse(JSON.stringify(item)))
  })
  values.drom_com = JSON.parse(JSON.stringify(props.list.drom_com))
  values.etranger = JSON.parse(JSON.stringify(props.list.etranger))

  values.criteria.id_ref_domaine_activite = props.list ? props.list.criteria.id_ref_domaine_activite : null
  values.criteria.id_ref_nature_consultation = props.list ? props.list.criteria.id_ref_nature_consultation : null
  values.criteria.id_ref_sur_categorie = props.list ? props.list.criteria.id_ref_sur_categorie : []
  values.criteria.id_ref_procedure_passation_famille = props.list ? props.list.criteria.id_ref_procedure_passation_famille : []
  values.criteria.statut_avis = props.list ? props.list.criteria.statut_avis : []
  values.criteria.dce_pj = props.list ? props.list.criteria.dce_pj : []
  values.criteria.id_vp_ref_nature_travaux = props.list ? props.list.criteria.id_vp_ref_nature_travaux : []
  values.criteria.id_vp_ref_type_batiment = props.list ? props.list.criteria.id_vp_ref_type_batiment : []
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", onResize);
})
// popin
const show = ref(false)
const showSearch = () => {
  show.value = true
  document.body.classList.add("overflow-hidden");

  let list = JSON.parse(JSON.stringify(data.regions))

  let listRegions = list.map(reg => {
    return {
      id: reg.id,
      name: reg.name
    }
  })
  let listDepartments = list.reduce((a, b) => {
    return a.concat(b.departments)
  }, [])

  suggests.suggestData = [...listRegions, ...listDepartments]
}
const hideSearch = () => {
  document.body.classList.remove("overflow-hidden");
  show.value = false
  suggests.suggestData = []
}

//Radio
const types = reactive([
  {
    value: '1',
    text: 'Appels d’offres'
  },
  {
    value: '2',
    text: 'Attributions de marché'
  },
  {
    value: '4,5',
    text: 'Avis de sourcing et devis'
  },
  {
    value: '3',
    text: 'Projets de travaux privés'
  }
])
const selectType = (item) => {
  values.criteria.id_ref_domaine_activite = null
  values.criteria.id_ref_nature_consultation = null
  values.criteria.id_ref_sur_categorie = []
  values.criteria.id_ref_procedure_passation_famille = []
  values.criteria.id_vp_ref_nature_travaux = []
  values.criteria.id_vp_ref_type_batiment = []
  values.type = item
}

// keyword
let keyword = ref('')
const addKeyword = () => {
  if (keyword.value) {
    values.keywords.push(keyword.value)
    keyword.value = ''
  }
}

let exclude = ref('')
const addExclude = () => {
  if (exclude.value) {
    values.excludes.push(exclude.value)
    exclude.value = ''
  }
}
const deleteKeywordChip = (arr, index) => {
  arr.splice(index, 1)
}

// localisation
let localisation = ref('')
let debounce = null
let suggests = reactive({
  suggestData: [],
  suggestList: [],
})

const search = () => {
  clearTimeout(debounce)
  debounce = setTimeout(() => {
    if (localisation.value.length > 2) {
      suggests.suggestList = suggests.suggestData.filter(ele => ele.name.toLocaleLowerCase().indexOf(localisation.value.toLocaleLowerCase()) !== -1)
    } else {
      suggests.suggestList = []
    }
  }, 500)
}

const hideSuggestList = () => {
  localisation.value = ''
  suggests.suggestList = []
}

const addLocalisation = (item) => {
  if (item.region) {
    //department
    if (values.localisations.find(reg => reg.id === item.region)) {
      let region = values.localisations.find(reg => reg.id === item.region)
      if (!region.departments.find(dep => dep.id === item.id)) {
        region.departments.push(item)
        if (region.departments.length === data.regions.find(reg => reg.id === region.id).departments.length) {
          region.allSelected = true
        }
      }
    } else {
      let region = JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.region)
      region.departments = [item]
      region.allSelected = false
      values.localisations.push(region)
    }
  } else {
    //region
    if (!values.localisations.find(reg => reg.id === item.id)) {
      values.localisations.push(JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.id))
    } else {
      values.localisations.splice(values.localisations.findIndex(reg => reg.id === item.id), 1)
      values.localisations.push(JSON.parse(JSON.stringify(data.regions)).find(reg => reg.id === item.id))
    }
  }
  hideSuggestList()
}

const deleteLocalisationChip = (item) => {
  if (item.region) {
    //department
    let region = values.localisations.find(reg => reg.id === item.region)
    region.departments.splice(region.departments.findIndex(dep => dep.id === item.id), 1)
    region.allSelected = false
    if (region.departments.length === 0) {
      values.localisations.splice(values.localisations.findIndex(reg => reg.id === region.id), 1)
    }
  } else {
    //region
    if (values.localisations.findIndex(reg => reg.id === item.id) !== -1) {
      values.localisations.splice(values.localisations.findIndex(reg => reg.id === item.id), 1)
    }
  }
}

// Criteria
const showCriteria = ref(false)
const options = reactive({
  id_ref_domaine_activite: [
    {
      value: '2',
      text: 'Etudes, Maîtrise d\'oeuvre, Contrôle'
    },
    {
      value: '5',
      text: 'Travaux publics'
    },
    {
      value: '4',
      text: 'Services'
    },
    {
      value: '1',
      text: 'Travaux de bâtiment'
    },
    {
      value: '3',
      text: 'Fournitures'
    }
  ],
  id_ref_sur_categorie: [
    {
      value: '1',
      text: 'Architectes'
    },
    {
      value: '6',
      text: 'Entités Publiques Locales'
    },
    {
      value: '8',
      text: 'Etablissements Publics de l\'état'
    },
    {
      value: '2',
      text: 'Bureaux d\'études'
    },
    {
      value: '14',
      text: 'Société d\'Economie Mixte'
    },
    {
      value: '11',
      text: 'Organismes HLM'
    },
    {
      value: '10',
      text: 'S.A. d\'HLM'
    },
    {
      value: '3',
      text: 'Collectivités Locales'
    },
    {
      value: '12',
      text: 'Maîtrise d\'ouvrage privée'
    },
    {
      value: '7',
      text: 'Etat'
    },
    {
      value: '4',
      text: 'Collectivités Territoriales'
    },
    {
      value: '9',
      text: 'International'
    },
    {
      value: '13',
      text: 'Sociétés Civiles Immobilières'
    },
    {
      value: '5',
      text: 'Entreprises'
    }
  ],
  id_ref_procedure_passation_famille: [
    {
      value: '5',
      text: 'Procédure adaptée'
    },
    {
      value: '3',
      text: 'Procédure simplifiée'
    },
    {
      value: '2',
      text: 'Procédure restreinte'
    },
    {
      value: '6',
      text: 'Avis de Pré-information'
    },
    {
      value: '8',
      text: 'Avis de concession'
    },
    {
      value: '7',
      text: 'Procédures autres'
    },
    {
      value: '1',
      text: 'Procédure ouverte'
    },
    {
      value: '4',
      text: 'Procédure négociée'
    }
  ],
  statut_avis: [
    {
      value: '2',
      text: 'Avis en cours'
    },
    {
      value: '3',
      text: 'Avis archivés'
    }
  ],
  dce_pj: [
    {
      value: '1',
      text: 'Avec DCE'
    },
    {
      value: '2',
      text: 'Avec pièces jointes'
    }
  ],
  id_ref_nature_consultation: [
    {
      value: '1',
      text: 'Travaux'
    },
    {
      value: '2',
      text: 'Fournitures'
    },
    {
      value: '1',
      text: 'Services'
    },
    {
      value: '2',
      text: 'Prestations Intellectuelles'
    }
  ],
  id_vp_ref_nature_travaux: [
    {
      value: '1',
      text: 'Construction neuve'
    },
    {
      value: '3',
      text: 'Extension'
    },
    {
      value: '2',
      text: 'Réhabilitation/Restructuration'
    },
    {
      value: '6',
      text: 'Aménagement'
    },
    {
      value: '4',
      text: 'Démolition'
    },
    {
      value: '5',
      text: 'Nouvelle implantation'
    },
    {
      value: '7',
      text: 'Transfert'
    }
  ],
  id_vp_ref_type_batiment: [
    {
      value: '14',
      text: 'Autres'
    },
    {
      value: '1',
      text: 'Commerce'
    },
    {
      value: '7',
      text: 'Enseignement'
    },
    {
      value: '3',
      text: 'Industriels'
    },
    {
      value: '10',
      text: 'Logements individuels'
    },
    {
      value: '12',
      text: 'Santé'
    },
    {
      value: '5',
      text: 'Agricole'
    },
    {
      value: '4',
      text: 'Bureaux tertiaires'
    },
    {
      value: '6',
      text: 'Energie'
    },
    {
      value: '8',
      text: 'Hôtel – Restaurant'
    },
    {
      value: '9',
      text: 'Logements collectifs'
    },
    {
      value: '11',
      text: 'Loisirs'
    },
    {
      value: '13',
      text: 'Stockage'
    }
  ]
})

const all_id_ref_sur_categorie = computed({
  get() {
    return values.criteria.id_ref_sur_categorie.length == options.id_ref_sur_categorie.length
  },

  set(value) {
    let selected = [];

    if (value) {
      options.id_ref_sur_categorie.forEach(function (item) {
        selected.push(item);
      });
    }

    values.criteria.id_ref_sur_categorie = selected;
  }
})
const all_id_ref_procedure_passation_famille = computed({
  get() {
    return values.criteria.id_ref_procedure_passation_famille.length == options.id_ref_procedure_passation_famille.length
  },

  set(value) {
    let selected = [];

    if (value) {
      options.id_ref_procedure_passation_famille.forEach(function (item) {
        selected.push(item);
      });
    }

    values.criteria.id_ref_procedure_passation_famille = selected;
  }
})
const all_statut_avis = computed({
  get() {
    return values.criteria.statut_avis.length == options.statut_avis.length
  },

  set(value) {
    let selected = [];

    if (value) {
      options.statut_avis.forEach(function (item) {
        selected.push(item);
      });
    }

    values.criteria.statut_avis = selected;
  }
})
const all_dce_pj = computed({
  get() {
    return values.criteria.dce_pj.length == options.dce_pj.length
  },

  set(value) {
    let selected = [];

    if (value) {
      options.dce_pj.forEach(function (item) {
        selected.push(item);
      });
    }

    values.criteria.dce_pj = selected;
  }
})
const all_vp_ref_nature_travaux = computed({
  get() {
    return values.criteria.id_vp_ref_nature_travaux.length == options.id_vp_ref_nature_travaux.length
  },

  set(value) {
    let selected = [];

    if (value) {
      options.id_vp_ref_nature_travaux.forEach(function (item) {
        selected.push(item);
      });
    }

    values.criteria.id_vp_ref_nature_travaux = selected;
  }
})
const all_vp_ref_type_batiment = computed({
  get() {
    return values.criteria.id_vp_ref_type_batiment.length == options.id_vp_ref_type_batiment.length
  },

  set(value) {
    let selected = [];

    if (value) {
      options.id_vp_ref_type_batiment.forEach(function (item) {
        selected.push(item);
      });
    }

    values.criteria.id_vp_ref_type_batiment = selected;
  }
})

// Footer
const initData = () => {
  values.type = 'Appels d’offres'
  values.keywords = []
  values.excludes = []
  values.keywordUnique = false
  values.localisations = []
  values.drom_com = false
  values.etranger = false
  values.criteria.id_ref_domaine_activite = null
  values.criteria.id_ref_nature_consultation = null
  values.criteria.id_ref_sur_categorie = []
  values.criteria.id_ref_procedure_passation_famille = []
  values.criteria.statut_avis = []
  values.criteria.dce_pj = []
  values.criteria.id_vp_ref_nature_travaux = []
  values.criteria.id_vp_ref_type_batiment = []
}
const emit = defineEmits(['load_content_mobile'])
const valid = () => {
  hideSearch()
  emit('load_content_mobile', values)
}
</script>

<style lang="scss" scoped>
.search_radio {
  @apply text-secondary-base border border-secondary-base rounded-full py-2 px-4 cursor-pointer;

  @media (min-width: 314px) {
    margin-left: 24px;
    margin-right: 24px;
  }

  &_selected {
    @apply text-white bg-secondary-base
  }
}

.search_icon {
  background-image: url("../icons/Search.svg");
  background-repeat: no-repeat;
  background-position: 12px;

  &:disabled {
    @apply border-neutral-light;
  }
}

.pin_icon {
  background-image: url("../icons/Pin.svg");
  background-repeat: no-repeat;
  background-position: 12px;
}
</style>
