<template>
  <div class="w-full z-20 hidden lg:fixed">
    <div class="bg-secondary-base">
      <Breadcrumb :breadcrumbs="breadcrumbs" v-if="show"></Breadcrumb>
      <Title :show="show" :values="values" @load_content="load_content" @showConnexion="showConnexion"></Title>
    </div>
    <div v-if="show"><img src="../../assets/imgs/background_bottom.svg" alt="background_bottom"
        class="w-full hidden lg:block">
    </div>
    <div v-if="show"><img src="../../assets/imgs/background_bottom_mobile.svg" alt="background_bottom"
        class="w-full lg:hidden">
    </div>
  </div>
</template>

<script setup>
import Breadcrumb from '../Breadcrumb.vue'
import Title from '../Search/Title.vue'
import { reactive } from 'vue'
const breadcrumbs = reactive(['Accueil', 'Recherche'])
defineProps({
  show: {
    type: Boolean,
    required: true
  },
  values: {
    type: Object,
    required: true
  }
})
const emit = defineEmits(['load_content', 'showConnexion'])
const load_content = () => {
  emit('load_content')
}
const showConnexion = () => {
  emit('showConnexion')
}
</script>

<style lang="scss" scoped>

</style>