<template>
  <div class="w-full" :class="{'bg-secondary-base' : !list}">
    <div class="bg-white" :class="{'search_recherches_polygon' : !list}">
      <div class="mx-6 lg:mx-auto search_recherches_container container_default">
        <div class="text-xl lg:text-xxl font-medium text-secondary-base">
          <span class="font-bold">Ces recherches</span> peuvent vous intéresser
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-12 mt-8 lg:mt-16">
          <!-- Links -->
          <div class="col-span1 lg:col-span-4 text-secondary-dark">
            <a class="flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Services professionnels Paris</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Services informatiques Hauts-de-Seine</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Gros oeuvre Nord</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Electricité Sécurité Téléphone Bouches-du-Rhône</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Menuiserie Fermetures Rhône</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Chauffage Ventilation Climatisation Frigorifique Gironde</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Plomberie Sanitaires Yvelines</div>
            </a>
            <a class="mt-6 flex items-start link text-m">
              <div>
                <IconsChevronRight></IconsChevronRight>
              </div>
              <div>Avis Peinture Ravalement Haute-Garonne</div>
            </a>

          </div>
          <!-- Card -->
          <div class="col-span1 lg:col-start-6 lg:col-span-7 bg-neutral-ultra-light p-8 mt-8 lg:mt-0">
            À la recherche d'un marché public en Meurthe-et-Moselle (Grand Est) ?
            Notre site met à votre disposition l'ensemble des appels à la concurrence émis sur ce territoire.
            <br> <br>
            Vous avez la possibilité de faire le paramétrage des différents critères proposés en plus de la localisation
            géographique, pour trouver les avis d'appel d'offre qui correspondent au mieux à vos attentes. Ces critères
            sont les suivants : le domaine d'activité (études, maîtrise d'oeuvre, contrôle, fournitures, etc.),
            l'acheteur (organismes HLM, collectivités locales,...), le type de procédure (procédure adaptée, procédure
            ouverte, etc.) et la nature de prestation (éducation, services professionnels,...).
            <br> <br>
            Il est également possible de filtrer les offres en tenant compte des dates (date de mise en ligne de l'offre
            et date limite de réponse). Entrez aussi des termes clés pour obtenir de meilleurs résultats. Spécifiez ceux
            à exclure de la recherche afin d'écarter les bruits.
            <br> <br>
            N.B. : cliquez directement sur le libellé de l'offre qui vous intéresse sur cette page de résultats pour en
            savoir plus sur une offre de marché.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  list: {
    type: Boolean,
    default: false
  }
})
</script>

<style lang="scss" scoped>
.search_recherches_polygon {
  padding-bottom: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));

  @media (min-width: 1024px) {
    padding-bottom: 107px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 43px));
  }
}
</style>