<template>
  <div class="w-full text-white">
    <div class="mx-6 lg:mx-auto search_moteur_container container_default"
      :class="{ 'search_moteur_padding_expand': show, 'search_moteur_padding_fold': !show }">
      <div class="text-center text-xxl font-bold" v-show="show">
        Recherchez <span class="font-medium">parmi tous les</span> avis de marchés
      </div>
      <!-- Radio -->
      <div class="mt-8 flex justify-center text-m font-medium" v-show="show">
        <div class="search_radio" :class="{ 'search_radio_selected': item.value === values.type?.value }"
          v-for="item in types" :key="item" @click="selectType(item)">{{ item.text }}</div>
      </div>
       <!-- Init -->
       <div class="mt-4 flex justify-end mr-28 xl:mr-4" v-show="show">
        <a class="flex link-dark items-center" @click="initDatas">
          <div>
            <IconsRepeat></IconsRepeat>
          </div>
          <div class="ml-2 text-m font-medium">Réinitialiser</div>
        </a>
      </div>
         <!-- Input -->
         <div class="flex text-neutral-dark justify-center flex-wrap" :class="{ 'mt-4': show }">
        <div class="flex relative xl:mr-4">
          <!-- Mots-clés -->
          <div class="search_inputs_long flex items-center mr-4" :class="{ 'justify-between': !values.keywords.length }"
            @click="showKeyword" v-click-outside="hideKeyword">
            <div v-if="!values.keywords.length">
              <div class="text-xm font-medium">Mots-Clés</div>
            </div>
            <div class="text-secondary-dark" :class="{ 'mr-2': values.keywords.length }">
              <IconsSearch></IconsSearch>
            </div>
            <div class="overflow-hidden flex" v-show="values.keywords.length">
              <div v-for="item in showChips('keyword', values.keywords)"
                class="mr-1 flex bg-secondary-base py-1 px-2 text-white">
                <div>{{ item }}</div>
              </div>
            </div>
            <div class="ml-2 font-bold" v-show="showMore.keyword > 0">+{{ showMore.keyword }}</div>

            <SearchCardsKeyword class="absolute w-full left-0 z-10" style="top: 53px" v-if="showPopin.keyword"
              @close="hideKeyword" @valid="validKeyword" :list="values.keywords" :excludes="values.excludes"
              :keywordUnique="values.keywordUnique">
            </SearchCardsKeyword>
          </div>
          <!-- Localisation -->
          <div class="search_inputs_long flex items-center" :class="{ 'justify-between': !getLocalisations().length }"
            @click="showLocalisation" v-click-outside="hideLocalisation">
            <div v-if="!getLocalisations().length">
              <div class="text-xm font-medium">Localisation</div>
            </div>
            <div class="text-secondary-dark" :class="{ 'mr-2': getLocalisations().length }">
              <IconsPin></IconsPin>
            </div>
            <div class="overflow-hidden flex" v-show="getLocalisations().length">
              <div v-for="item in showChips('localisation', getLocalisations())"
                class="mr-1 flex bg-secondary-base py-1 px-2 text-white">
                <div>{{ item }}</div>
              </div>
            </div>
            <div class="ml-2 font-bold" v-show="showMore.localisation > 0">+{{ showMore.localisation }}</div>
            <SearchCardsLocalisation class="absolute w-full left-0 z-10 overflow-y-auto" style="top: 53px; height: 500px;" v-if="showPopin.localisation"
              @close="hideLocalisation" @valid="validLocalisation" :list="values.localisations"
              :etranger="values.etranger" :drom_com="values.drom_com">
            </SearchCardsLocalisation>
          </div>
        </div>
        <div class="flex">
          <!-- Critères -->
          <div class="mt-4 xl:mt-0 search_inputs_short flex items-center mr-4 relative"
            :class="{ 'justify-between': !criteriaLength }" @click="showCriteria" v-click-outside="hideCriteria">
            <div v-if="!criteriaLength">
              <div class="text-xm font-medium">+ de critères</div>
            </div>
            <div class="text-secondary-dark" :class="{ 'mr-2': criteriaLength }">
              <IconsExpandMore></IconsExpandMore>
            </div>
            <div class="overflow-hidden flex" v-show="criteriaLength">
              <div v-for="item in showChips('criteria', getCriteriaList())"
                class="mr-1 flex bg-secondary-base py-1 px-2 text-white">
                <div>{{ item }}</div>
              </div>
            </div>
            <div class="ml-2 font-bold" v-show="showMore.criteria > 0">+{{ showMore.criteria }}</div>
            <SearchCardsCriteria class="absolute right-0 criteria_popin overflow-y-auto"
              style="top: 53px; height: 500px;" v-if="showPopin.criteria" @close="hideCriteria" @valid="validCriteria"
              :list="values.criteria" :type="values.type">
            </SearchCardsCriteria>
          </div>
          <div class="mt-4 xl:mt-0 ">
            <button class="primary-btn-no-padding flex items-center text-xm font-bold" style="height: 52px" @click="activeAlert">
              <div>
                <IconsAlert></IconsAlert>
              </div>
              <div class="ml-2">Activer l’alerte</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive, computed } from 'vue'
import IconsRepeat from '../icons/repeat.vue'
import IconsSearch from '../icons/search.vue'
import IconsAlert from '../icons/alert.vue'
import IconsPin from '../icons/pin.vue'
import IconsExpandMore from '../icons/expand_more.vue'
import SearchCardsKeyword from '../Search/Cards/Keyword.vue'
import SearchCardsLocalisation from '../Search/Cards/Localisation.vue'
import SearchCardsCriteria from '../Search/Cards/Criteria.vue'
import data from './regions'

const props = defineProps({
  show: {
    type: Boolean,
    required: true
  },
  values: {
    type: Object,
    required: true
  }
})

const types = reactive([
  {
    value: '1',
    text: 'Appels d’offres'
  },
  {
    value: '2',
    text: 'Attributions de marché'
  },
  {
    value: '4,5',
    text: 'Avis de sourcing et devis'
  },
  {
    value: '3',
    text: 'Projets de travaux privés'
  }
])

const criteriaLength = computed(() => props.values.criteria && (Object.keys(props.values.criteria).some(ele => {
  if (ele === 'id_ref_domaine_activite' || ele === 'id_ref_nature_consultation') {
    return props.values.criteria[ele]
  } else {
    return props.values.criteria[ele].length !== 0
  }
})))
const getCriteriaList = () => {
  if (props.values.criteria) {
    let arr = []
    Object.keys(props.values.criteria).forEach(key => {
      if (key === 'id_ref_domaine_activite' ||  key === 'id_ref_nature_consultation') {
        if (props.values.criteria[key]) {
          arr.push(props.values.criteria[key].text)
        }
      } else if (props.values.criteria[key].length) {
        props.values.criteria[key].forEach(ele => {
          arr.push(ele.text)
        })
      }
    })
    return arr
  } else {
    return []
  }
}
const getLocalisations = () => {
  let list = []
  props.values.localisations.forEach(region => {
    if (region.allSelected) {
      list.push(region.name)
    } else {
      list = [...list, ...region.departments.map(dep => dep.id.slice(3) + '-' + dep.name)]
    }
  })
  if (props.values.drom_com) {
    list.push(data.overseas.name)
  }
  if (props.values.etranger) {
    list.push(data.others.name)
  }
  return list
}
const showMore = reactive({
  keyword: 0,
  localisation: 0,
  criteria: 0
})
const wordslimit = reactive({
  keyword: 29,
  localisation: 29,
  criteria: 0
})
const showPopin = reactive({
  keyword: false,
  localisation: false,
  criteria: false
})

const selectType = (item) => {
  props.values.criteria.id_ref_domaine_activite = null
  props.values.criteria.id_ref_nature_consultation = null
  props.values.criteria.id_ref_sur_categorie = []
  props.values.criteria.id_ref_procedure_passation_famille = []
  props.values.criteria.id_vp_ref_nature_travaux = []
  props.values.criteria.id_vp_ref_type_batiment = []
  props.values.type = item
  emit('load_content')
}

const calLength = (arr) => {
  return arr.reduce((acc, cur) => acc + cur.length, 0)
}

const showChips = (type, origin) => {
  // deep copy
  let copy = [...origin]
  if (type === 'criteria') {
    if (window.innerWidth > 1280) {
      wordslimit[type] = 14
    } else {
      wordslimit[type] = 40
    }
  }
  dealChips(type, copy)
  showMore[type] = origin.length - copy.length
  return copy
}
const dealChips = (type, copy) => {
  if (copy.length === 1) {
    if (calLength(copy) > wordslimit[type]) {
      copy[0] = copy[0].slice(0, wordslimit[type] - 1) + '...'
    }
  } else {
    if (calLength(copy) > (wordslimit[type] - copy.length * 2 - 2)) {
      copy.pop()
      dealChips(type, copy)
    }
  }
}

const initPopin = () => {
  showPopin.keyword = false
  showPopin.localisation = false
  showPopin.criteria = false
}

const showKeyword = () => {
  initPopin()
  showPopin.keyword = true
}
const hideKeyword = () => {
  showPopin.keyword = false
}

const validKeyword = ({ keywords, excludes, keywordUnique }) => {
  props.values.keywords = keywords
  props.values.excludes = excludes
  props.values.keywordUnique = keywordUnique
  emit('load_content')
  hideKeyword()
}

const showLocalisation = () => {
  initPopin()
  showPopin.localisation = true
}
const hideLocalisation = () => {
  showPopin.localisation = false
}
const validLocalisation = ({ localisations, drom_com, etranger }) => {
  props.values.localisations = localisations
  props.values.drom_com = drom_com
  props.values.etranger = etranger
  emit('load_content')
  hideLocalisation()
}

const showCriteria = () => {
  initPopin()
  showPopin.criteria = true
}
const hideCriteria = () => {
  showPopin.criteria = false
}
const validCriteria = ({ criteria }) => {
  props.values.criteria = criteria
  emit('load_content')
  hideCriteria()
}

const initDatas = () => {
  props.values.type =  {
    value: '1',
    text: 'Appels d’offres'
  }
  props.values.keywords = []
  props.values.excludes = []
  props.values.keywordUnique = false
  props.values.localisations = []
  props.values.drom_com = false
  props.values.etranger = false
  props.values.criteria.id_ref_domaine_activite = null
  props.values.criteria.id_ref_nature_consultation = null
  props.values.criteria.id_ref_sur_categorie = []
  props.values.criteria.id_ref_procedure_passation_famille = []
  props.values.criteria.statut_avis = []
  props.values.criteria.dce_pj = []
  props.values.criteria.id_vp_ref_nature_travaux = []
  props.values.criteria.id_vp_ref_type_batiment = []
  emit('load_content')
}

// directive
const vClickOutside = {
  mounted: function mounted(el, binding, vnode) {
    el.clickOutsideEvent = function (event) {
      if (!(el == event.target || el.contains(event.target))) {
        binding.value(event, el);
      }
    };
    document.addEventListener("click", el.clickOutsideEvent);
  },
  unmounted: function unmounted(el) {
    document.removeEventListener("click", el.clickOutsideEvent);
  }
};

const activeAlert =() => {
  // connected or not
  emit('showConnexion')
}

const emit = defineEmits(['load_content', 'showConnexion'])

</script>

<style lang="scss" scoped>
.search_moteur_padding_expand {
  @apply pt-8 pb-4;
}

.search_moteur_padding_fold {
  @apply py-8;
}

.search_radio {
  @apply text-white border border-white rounded-full py-2 px-4 mx-1 cursor-pointer;

  &_selected {
    @apply bg-white text-secondary-base
  }
}

.search_inputs {
  @apply bg-white py-4 px-3 cursor-pointer;
  height: 52px;

  &_long {
    @extend .search_inputs;
    width: 374px;
  }

  &_short {
    @extend .search_inputs;
    width: 500px;

    @media (min-width: 1280px) {
      width: 235px;
    }
  }
}

.criteria_popin {
  width: 100%;

  @media (min-width: 1280px) {
    width: 1015px;
  }
}
</style>