<template>
  <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M8.32831 1.43245V2.13984C4.95702 2.47732 2.30853 5.31947 2.27353 8.76926C2.27105 8.79196 2.26974 8.81478 2.26958 8.83762V10.8914C1.13498 11.058 0.25 12.0354 0.25 13.2134C0.25 14.5067 1.31291 15.5696 2.60618 15.5696H5.70395C6.01831 17.1007 7.38135 18.2623 9.00153 18.2623C10.6217 18.2623 11.9848 17.1007 12.2991 15.5696H15.3969C16.6902 15.5696 17.7531 14.5067 17.7531 13.2134C17.7531 12.0354 16.8681 11.058 15.7335 10.8914V8.83762C15.7336 8.81215 15.7323 8.78669 15.7295 8.76137C15.6905 5.31522 13.0435 2.4771 9.67475 2.13989V1.4325C9.67725 1.25053 9.60598 1.07531 9.47717 0.946748C9.34837 0.818188 9.17301 0.747244 8.99106 0.750082C8.6197 0.75583 8.32321 1.06115 8.32831 1.43245ZM14.3871 8.83758V11.4173C14.35 11.6357 14.4227 11.8585 14.5817 12.0129C14.5887 12.0199 14.5917 12.023 14.5948 12.026C14.7472 12.1714 14.9589 12.2371 15.1668 12.2035H15.3969C15.9616 12.2035 16.4067 12.6486 16.4067 13.2133C16.4067 13.7781 15.9616 14.2231 15.3969 14.2231H2.60618C2.04141 14.2231 1.59639 13.7781 1.59639 13.2133C1.59639 12.6486 2.04141 12.2035 2.60618 12.2035H2.8297C3.04947 12.2409 3.27348 12.167 3.42795 12.0063C3.43058 12.0037 3.4319 12.0024 3.43321 12.001C3.43497 11.9993 3.43672 11.9975 3.43847 11.9958C3.58384 11.8434 3.64952 11.6318 3.61597 11.4238V8.83755C3.61597 5.8582 6.02217 3.452 9.00152 3.452C11.9809 3.45202 14.3871 5.85822 14.3871 8.83758ZM10.8987 15.5695C10.6228 16.3549 9.88577 16.9159 9.0014 16.9159C8.11702 16.9159 7.38008 16.3549 7.10407 15.5695H10.8987Z"
      fill="currentcolor" />
  </svg>
</template>