<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M13.5376 3.05441L7.88479 8.70721L5.53759 6.36161C5.34079 6.16481 5.02079 6.16481 4.82399 6.36161C4.62719 6.55841 4.62719 6.87841 4.82399 7.07521L7.52799 9.77921C7.62719 9.87841 7.75519 9.92641 7.88479 9.92641C8.01439 9.92641 8.14239 9.87681 8.24159 9.77921L14.2528 3.76961C14.4496 3.57281 14.4496 3.25281 14.2528 3.05601C14.0544 2.85761 13.736 2.85761 13.5376 3.05441Z"
      fill="currentcolor" />
    <path
      d="M7.88958 2.71999C9.16158 2.71999 10.328 3.17439 11.2416 3.92639L11.9584 3.20959C10.8624 2.27519 9.44478 1.71039 7.88958 1.71039C4.42238 1.71039 1.59998 4.53279 1.59998 7.99999C1.59998 11.4672 4.42238 14.2896 7.88958 14.2896C11.3568 14.2896 14.1744 11.4672 14.1744 7.99999C14.1744 7.19199 14.0224 6.42079 13.7408 5.70879L12.9488 6.50079C13.0896 6.97599 13.1664 7.47999 13.1664 7.99999C13.1664 10.912 10.7984 13.28 7.89118 13.28C4.97918 13.28 2.61118 10.912 2.61118 7.99999C2.60958 5.08799 4.97758 2.71999 7.88958 2.71999Z"
      fill="currentcolor" />
  </svg>
</template>