<template>
  <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 5.53L4 9.53L4.94 10.47L8 7.41667L11.06 10.47L12 9.53L8 5.53Z" fill="currentcolor" />
  </svg>
</template>