<template>
  <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.98271 1C4.91007 1 2.40002 3.51005 2.40002 6.58269C2.40002 8.57342 3.33047 10.6291 5.12645 12.5549C6.44639 13.983 7.76633 14.8269 7.83124 14.8702L7.98271 15L8.15582 14.8918C8.22073 14.8485 9.51903 13.9614 10.839 12.5116C12.6133 10.5641 13.5654 8.53014 13.5654 6.60433C13.5654 3.51005 11.0554 1 7.98271 1ZM7.98271 14.1994C7.59322 13.9181 6.57622 13.1824 5.58086 12.1005C4.43403 10.8454 3.04917 8.87635 3.04917 6.58269C3.04917 3.85626 5.25628 1.64915 7.98271 1.64915C10.7091 1.64915 12.9163 3.85626 12.9163 6.58269C12.9163 10.391 8.86989 13.5502 7.98271 14.1994ZM7.98271 4.13756C6.74933 4.13756 5.75397 5.13292 5.75397 6.36631C5.75397 7.59969 6.74933 8.61669 7.98271 8.61669C9.2161 8.61669 10.2115 7.62133 10.2115 6.38795C10.2115 5.15456 9.2161 4.13756 7.98271 4.13756ZM7.98271 7.96754C7.11718 7.96754 6.40312 7.25348 6.40312 6.38795C6.40312 5.52241 7.11718 4.80835 7.98271 4.80835C8.84825 4.80835 9.56231 5.52241 9.56231 6.38795C9.56231 7.25348 8.84825 7.96754 7.98271 7.96754Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.4" />
  </svg>
</template>