<template>
  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M9 0.25C9.42515 0.25 9.77711 0.563317 9.83759 0.971644L9.84677 1.09677L9.84632 8.15277L16.9032 8.15323C17.3709 8.15323 17.75 8.53234 17.75 9C17.75 9.42515 17.4367 9.77711 17.0284 9.83759L16.9032 9.84677L9.84632 9.84632L9.84677 16.9032C9.84677 17.3709 9.46766 17.75 9 17.75C8.57485 17.75 8.22289 17.4367 8.16241 17.0284L8.15323 16.9032L8.15277 9.84632L1.09677 9.84677C0.629114 9.84677 0.25 9.46766 0.25 9C0.25 8.57485 0.563317 8.22289 0.971644 8.16241L1.09677 8.15323L8.15277 8.15277L8.15323 1.09677C8.15323 0.629114 8.53234 0.25 9 0.25Z"
      fill="currentcolor" />
  </svg>
</template>