<template>
  <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M6.30717 0.800003C3.27517 0.800003 0.799988 3.27518 0.799988 6.30718C0.799988 9.33918 3.27517 11.8144 6.30717 11.8144C7.54949 11.8144 8.69849 11.3986 9.62164 10.6997L12.9423 14.0204C13.0753 14.1534 13.2525 14.2 13.3949 14.2C13.5444 14.2 13.6993 14.1493 13.8265 14.0241C14.088 13.7846 14.0756 13.3779 13.8302 13.1325L10.5311 9.83344C11.3312 8.87715 11.8144 7.64645 11.8144 6.30718C11.8144 3.27518 9.33917 0.800003 6.30717 0.800003ZM2.06435 6.30718C2.06435 3.96285 3.96284 2.06436 6.30717 2.06436C8.63472 2.06436 10.55 3.96336 10.55 6.30718C10.55 7.49635 10.0618 8.57046 9.27428 9.34078C9.25261 9.35728 9.23178 9.3753 9.21196 9.39482C9.19386 9.4114 9.17698 9.42894 9.16135 9.44729C8.40776 10.1326 7.40673 10.55 6.30717 10.55C3.96284 10.55 2.06435 8.65151 2.06435 6.30718Z"
      fill="currentcolor" />
  </svg>
</template>