<template>
  <div class="relative quickSand">
    <Moteur class="hidden lg:block" :show="show" :values="values" @load_content="load_content" @showConnexion="showConnexion = true"></Moteur>
    <MoteurMobile class="lg:hidden" :list="values" @load_content_mobile="load_content_mobile"></MoteurMobile>
    <ConnexionAndInscription v-if="showConnexion" @close="showConnexion = false"></ConnexionAndInscription>
  </div>
</template>

<script setup>
import Moteur from '../src/components/Search/Moteur.vue'
import MoteurMobile from '../src/components/Search/MoteurMobile.vue'
import ConnexionAndInscription from '../src/components/ConnexionAndInscription.vue'
import { ref, reactive, onMounted, onBeforeUnmount } from 'vue'
import map from '../src/components/Search/regions'
import axios from 'axios'

const props = defineProps({
  fields: {
    type: Object,
    default: null
  },
  landing: {
    type: Boolean,
    default: false
  }
})

let show = ref(true)
let showConnexion = ref(false)
let values = reactive({
  type: {
    value: '1',
    text: 'Appels d’offres'
  },
  localisations: [],
  drom_com: false,
  etranger: false,
  keywords: [],
  excludes: [],
  keywordUnique: false,
  criteria: {
    id_ref_domaine_activite: null,
    id_ref_sur_categorie: [],
    id_ref_procedure_passation_famille: [],
    statut_avis: [],
    dce_pj: [],
    id_ref_nature_consultation: null,
    id_vp_ref_nature_travaux: [],
    id_vp_ref_type_batiment: []
  }
})

const scrollFunction = () => {
  show.value = (document.documentElement.scrollTop < 1)
}

const load_content = () => {
  axios.post('/ajax/form_post_to_session',
    formatDatas(),
    { headers: { "Content-Type": "application/x-www-form-urlencoded" } }
  ).then(() => {
    if (props.landing) {
      window.location.search = formatDatas().toString()
    } else {
      window.location.href = '/appels-offres/en-cours'
    }
  })
}

const load_content_mobile = (value) => {
  values.type = value.type
  values.criteria = value.criteria
  values.keywords = value.keywords
  values.keywordUnique = value.keywordUnique
  values.excludes = value.excludes
  values.localisations = value.localisations
  values.drom_com = value.drom_com
  values.etranger = value.etranger
  console.log('get', values)
  load_content()
}

const formatDatas = () => {
  const data = new URLSearchParams()
  // type
  data.append('id_ref_type_avis', values.type.value)
  // keywords
  if (values.keywords.length) {
    data.append('mots_cle', values.keywords.join(','))
  }
  if (values.excludes.length) {
    data.append('mots_cle_exclure', values.excludes.join(','))
  }
  data.append('id_ref_type_recherche', values.keywordUnique ? '3' : '1')
  // localisation
  if (values.drom_com) {
    data.append('map[]', '2')
    data.append('id_ref_region[]', '95')
  }
  if (values.etranger) {
    data.append('map[]', '4')
    data.append('id_ref_departement[]', '106')
  }
  if (values.localisations.length) {
    values.localisations.forEach(region => {
      if (region.allSelected) {
        data.append('id_ref_region[]', region.id_ref_region.toString())
      }
      region.departments.forEach(department => {
        data.append('id_ref_departement[]', department.id_ref_departement.toString())
      })
    })
  }
  if (values.criteria.statut_avis.length) {
    values.criteria.statut_avis.forEach(item => {
      data.append('statut_avis[]', item.value)
    })
  }
  if (values.criteria.dce_pj.length) {
    values.criteria.dce_pj.forEach(item => {
      data.append('dce_pj[]', item.value)
    })
  }
  if (values.type.value === '1' || values.type.value === '2') {
    if (values.criteria.id_ref_domaine_activite) {
      data.append('id_ref_domaine_activite', values.criteria.id_ref_domaine_activite.value)
    }
    if (values.criteria.id_ref_sur_categorie.length) {
      values.criteria.id_ref_sur_categorie.forEach(item => {
        data.append('id_ref_sur_categorie[]', item.value)
      })
    }
    if (values.criteria.id_ref_procedure_passation_famille.length) {
      values.criteria.id_ref_procedure_passation_famille.forEach(item => {
        data.append('id_ref_procedure_passation_famille[]', item.value)
      })
    }
  }
  if (values.type.value === '3') {
    if (values.criteria.id_vp_ref_nature_travaux.length) {
      values.criteria.id_vp_ref_nature_travaux.forEach(item => {
        data.append('id_vp_ref_nature_travaux[]', item.value)
      })
    }
    if (values.criteria.id_vp_ref_type_batiment.length) {
      values.criteria.id_vp_ref_type_batiment.forEach(item => {
        data.append('id_vp_ref_type_batiment[]', item.value)
      })
    }
  }
  if (values.type.value === '4,5') {
    if (values.criteria.id_ref_nature_consultation) {
      data.append('id_ref_nature_consultation', values.criteria.id_ref_nature_consultation.value)
    }
  }
  data.append('__posted', '1')
  data.append('data_post_session_name', 'recherche_avancee')
  return data
}

const types = reactive([
  {
    value: '1',
    text: 'Appels d’offres'
  },
  {
    value: '2',
    text: 'Attributions de marché'
  },
  {
    value: '4,5',
    text: 'Avis de sourcing et devis'
  },
  {
    value: '3',
    text: 'Projets de travaux privés'
  }
])

const criteria = reactive({
  id_ref_domaine_activite: [
    {
      value: '2',
      text: 'Etudes, Maîtrise d\'oeuvre, Contrôle'
    },
    {
      value: '5',
      text: 'Travaux publics'
    },
    {
      value: '4',
      text: 'Services'
    },
    {
      value: '1',
      text: 'Travaux de bâtiment'
    },
    {
      value: '3',
      text: 'Fournitures'
    }
  ],
  id_ref_sur_categorie: [
    {
      value: '1',
      text: 'Architectes'
    },
    {
      value: '6',
      text: 'Entités Publiques Locales'
    },
    {
      value: '8',
      text: 'Etablissements Publics de l\'état'
    },
    {
      value: '2',
      text: 'Bureaux d\'études'
    },
    {
      value: '14',
      text: 'Société d\'Economie Mixte'
    },
    {
      value: '11',
      text: 'Organismes HLM'
    },
    {
      value: '10',
      text: 'S.A. d\'HLM'
    },
    {
      value: '3',
      text: 'Collectivités Locales'
    },
    {
      value: '12',
      text: 'Maîtrise d\'ouvrage privée'
    },
    {
      value: '7',
      text: 'Etat'
    },
    {
      value: '4',
      text: 'Collectivités Territoriales'
    },
    {
      value: '9',
      text: 'International'
    },
    {
      value: '13',
      text: 'Sociétés Civiles Immobilières'
    },
    {
      value: '5',
      text: 'Entreprises'
    }
  ],
  id_ref_procedure_passation_famille: [
    {
      value: '5',
      text: 'Procédure adaptée'
    },
    {
      value: '3',
      text: 'Procédure simplifiée'
    },
    {
      value: '2',
      text: 'Procédure restreinte'
    },
    {
      value: '6',
      text: 'Avis de Pré-information'
    },
    {
      value: '8',
      text: 'Avis de concession'
    },
    {
      value: '7',
      text: 'Procédures autres'
    },
    {
      value: '1',
      text: 'Procédure ouverte'
    },
    {
      value: '4',
      text: 'Procédure négociée'
    }
  ],
  statut_avis: [
    {
      value: '2',
      text: 'Avis en cours'
    },
    {
      value: '3',
      text: 'Avis archivés'
    }
  ],
  dce_pj: [
    {
      value: '1',
      text: 'Avec DCE'
    },
    {
      value: '2',
      text: 'Avec pièces jointes'
    }
  ],
  id_ref_nature_consultation: [
    {
      value: '1',
      text: 'Travaux'
    },
    {
      value: '2',
      text: 'Fournitures'
    },
    {
      value: '1',
      text: 'Services'
    },
    {
      value: '2',
      text: 'Prestations Intellectuelles'
    }
  ],
  id_vp_ref_nature_travaux: [
    {
      value: '1',
      text: 'Construction neuve'
    },
    {
      value: '3',
      text: 'Extension'
    },
    {
      value: '2',
      text: 'Réhabilitation/Restructuration'
    },
    {
      value: '6',
      text: 'Aménagement'
    },
    {
      value: '4',
      text: 'Démolition'
    },
    {
      value: '5',
      text: 'Nouvelle implantation'
    },
    {
      value: '7',
      text: 'Transfert'
    }
  ],
  id_vp_ref_type_batiment: [
    {
      value: '14',
      text: 'Autres'
    },
    {
      value: '1',
      text: 'Commerce'
    },
    {
      value: '7',
      text: 'Enseignement'
    },
    {
      value: '3',
      text: 'Industriels'
    },
    {
      value: '10',
      text: 'Logements individuels'
    },
    {
      value: '12',
      text: 'Santé'
    },
    {
      value: '5',
      text: 'Agricole'
    },
    {
      value: '4',
      text: 'Bureaux tertiaires'
    },
    {
      value: '6',
      text: 'Energie'
    },
    {
      value: '8',
      text: 'Hôtel – Restaurant'
    },
    {
      value: '9',
      text: 'Logements collectifs'
    },
    {
      value: '11',
      text: 'Loisirs'
    },
    {
      value: '13',
      text: 'Stockage'
    }
  ]
})

onMounted(() => {
  window.scrollTo(0, 0)
  window.onscroll = scrollFunction
  if (props.fields && Object.keys(props.fields).length !== 0) {
    formatDatasInput()
  }
})

const formatDatasInput = () => {
  // type
  values.type = types.find(type => type.value.includes(props.fields.id_ref_type_avis))
  //  keywords
  if (props.fields.mots_cle) {
    values.keywords = props.fields.mots_cle.split(',')
  }
  if (props.fields.mots_cle_exclure) {
    values.excludes = props.fields.mots_cle_exclure.split(',')
  }
  values.keywordUnique = props.fields.id_ref_type_recherche !== '1'
  //  localisations
  if (props.fields.id_ref_region) {
    props.fields.id_ref_region.forEach(region => {
      if (region === '95') {
        values.drom_com = true
      }
    })
  }
  if (props.fields.id_ref_departement) {
    props.fields.id_ref_departement.forEach(departmentId => {
      if (departmentId === '106') {
        values.etranger = true
      } else {
        let departmentBase = null
        map.regions.forEach(region => {
          let selectDepartment = region.departments.find(dep => dep.id_ref_departement.toString() === departmentId)
          if (selectDepartment) {
            departmentBase = selectDepartment
          }
        })
        if (departmentBase) {
          const regionBase = JSON.parse(JSON.stringify(map.regions)).find(reg => reg.id === departmentBase.region)
          let selectRegion = values.localisations.find(region => region.id === departmentBase.region)
          if (selectRegion) {
            selectRegion.departments.push(departmentBase)
            if (regionBase.departments.length === selectRegion.departments.length) {
              selectRegion.allSelected = true
            }
          } else {
            values.localisations.push({
              id: regionBase.id,
              id_ref_region: regionBase.id_ref_region,
              name: regionBase.name,
              allSelected: false,
              departments: [departmentBase]
            })
          }
        }
      }
    })
  }
  // criteria
  if (props.fields.id_ref_domaine_activite) {
    values.criteria.id_ref_domaine_activite = criteria.id_ref_domaine_activite.find(item => item.value === props.fields.id_ref_domaine_activite)
  }
  if (props.fields.id_ref_nature_consultation) {
    values.criteria.id_ref_nature_consultation = criteria.id_ref_nature_consultation.find(item => item.value === props.fields.id_ref_nature_consultation)
  }
  if (props.fields.id_ref_sur_categorie) {
    props.fields.id_ref_sur_categorie.forEach(ele => {
      let selectedItem = criteria.id_ref_sur_categorie.find(item => item.value === ele)
      if (selectedItem) {
        values.criteria.id_ref_sur_categorie.push(selectedItem)
      }
    })
  }
  if (props.fields.id_ref_procedure_passation_famille) {
    props.fields.id_ref_procedure_passation_famille.forEach(ele => {
      let selectedItem = criteria.id_ref_procedure_passation_famille.find(item => item.value === ele)
      if (selectedItem) {
        values.criteria.id_ref_procedure_passation_famille.push(selectedItem)
      }
    })
  }
  if (props.fields.statut_avis) {
    props.fields.statut_avis.forEach(ele => {
      let selectedItem = criteria.statut_avis.find(item => item.value === ele)
      if (selectedItem) {
        values.criteria.statut_avis.push(selectedItem)
      }
    })
  }
  if (props.fields.dce_pj) {
    props.fields.dce_pj.forEach(ele => {
      let selectedItem = criteria.dce_pj.find(item => item.value === ele)
      if (selectedItem) {
        values.criteria.dce_pj.push(selectedItem)
      }
    })
  }
  if (props.fields.id_vp_ref_nature_travaux) {
    props.fields.id_vp_ref_nature_travaux.forEach(ele => {
      let selectedItem = criteria.id_vp_ref_nature_travaux.find(item => item.value === ele)
      if (selectedItem) {
        values.criteria.id_vp_ref_nature_travaux.push(selectedItem)
      }
    })
  }
  if (props.fields.id_vp_ref_type_batiment) {
    props.fields.id_vp_ref_type_batiment.forEach(ele => {
      let selectedItem = criteria.id_vp_ref_type_batiment.find(item => item.value === ele)
      if (selectedItem) {
        values.criteria.id_vp_ref_type_batiment.push(selectedItem)
      }
    })
  }
}

onBeforeUnmount(() => {
  window.onscroll = null
})
</script>

<style lang="scss" scoped>

</style>
